<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>로그인 - IPU</title>
		<th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
		<link rel="stylesheet" type="text/css" href="/lib/auth/signin.css">
		<script th:src="${'https://www.google.com/recaptcha/api.js?render=' + capt_site}"></script>
		<meta property="og:title" content="IPU - 로그인">
		<meta name="twitter:title" content="IPU - 로그인">
		<meta name="description" content="IPU - 로그인">
		<meta property="og:description" content="IPU - 로그인">
		<meta name="twitter:description" content="IPU - 로그인">
		<style>
			div.grecaptcha-badge { 
    			visibility: hidden;
				left: 0;
			}
			a.recaptch-a {
				text-decoration: none;
				color: #6495ed;
			}
		</style>
	</head>
	<body>
		<p id="err" th:text="${error_text}"></p>
		<div class="vh-center">
			<form method="POST" onsubmit="return login()" th:action="${'/login?ret='+return}">
				<label class="title">로그인</label>
				<input type="text" id="id" class="input" name="id" placeholder="ID" spellcheck="false" required autocomplete="username" title="ID" aria-required="true">
				<input type="password" id="pwd" class="input" name="password" placeholder="Password" spellcheck="false" required autocomplete="current-password" title="암호" aria-required="true">
				<input type="text" id="gtoken" style="display: none;" name="gToken" readonly required>
				<button type="submit" id="submit" class="input submit">Login</button>
				<input type="text" id="gVers" style="display: none;" name="gVers" th:value="${captcha_version}">
				<div id="captcha" class="g-recaptcha" th:if="${captcha_version.equals('v2')}" th:data-sitekey="${capt_site}" data-theme="dark"></div>
			</form>
		</div>
		<div id="capt-show">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" class="recaptch-a">Privacy Policy</a> and <a href="https://policies.google.com/terms" class="recaptch-a">Terms of Service</a> apply.</div>
	</body>
	<script th:inline="javascript">
		grecaptcha.ready(function() {
			grecaptcha.execute([[${capt_site}]], {action: 'signin'}).then(function(token) {
				gei('gtoken').value = token;
		  	});
		});
	</script>
	<script>
		const idValidator = new RegExp('^(?=.*[A-Za-z])[A-Za-z0-9]{0,50}$');
		const pwdValidator = new RegExp('^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d!"#$%&\'()*+,\\-./:;<=>?@\\[\\]^_`{|}~\\\\\\)]{6,}$');

		function login() {
			let id = gei("id").value, pwd = gei("pwd").value;
			let ret = true;
			if(!idValidator.test(id)) {
				gei("id").classList.add("wrong-form");
				ret = false;
			}
			else {
				gei("id").classList.remove("wrong-form");
			}
			if(!pwdValidator.test(pwd)) {
				gei("pwd").classList.add("wrong-form");
				ret = false;
			}
			else {
				gei("pwd").classList.remove("wrong-form");
			}
			if(gei('gVers').value == 'v2') {
				gei('gtoken').value = gei('g-recaptcha-response').value;
				gei('g-recaptcha-response').remove();
			}
			return ret;
		}
	</script>
</html>