<!DOCTYPE html>

<html>
	<head>
		<title>가입 - IPU</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/lib/auth/signin.css">
		<script src="https://www.google.com/recaptcha/api.js?render=6LeoxLwaAAAAABC-oJu76Dt36Yb5K12Eu7a0pjD8"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<%- include('../ejs-components/header-comp.ejs')%>
		<meta property="og:title" content="IPU - 회원가입">
        <meta name="twitter:title" content="IPU - 회원가입">
        <meta name="description" content="IPU에 회원가입하기">
        <meta property="og:description" content="IPU에 회원가입하기">
        <meta name="twitter:description" content="IPU에 회원가입하기">
		<style>
			div.grecaptcha-badge { 
    			visibility: hidden;
				left: 0;
			}
			a.recaptch-a {
				text-decoration: none;
				color: #6495ed;
			}
		</style>
	</head>
	<body>
		<p id="err" style="display: <%= visible%>;"><%= why_failed%></p>
		<div class="vh-center">
			<form method="POST">
				<label id="title">가입</label>
				<input type="text" id="name" class="input second" name="name" placeholder="Name" spellcheck="false" style="display: none;" required autocomplete="nickname">
				<input type="text" id="id" class="input second" name="id" placeholder="ID" spellcheck="false" style="display: none;" required autocomplete="username">
				<input type="password" id="pwd" class="input second" name="password" placeholder="Password" spellcheck="false" style="display: none;" required autocomplete="current-password">
				<input type="text" id="invite" class="input" name="invite" placeholder="Invite code" spellcheck="false" maxlength="6" onkeypress="keyDwn()" required>
				<label id="errdisplay" style="display: none;"></label>
				<p id="eula-alert">회원가입함에 따라 <a class="href" href="/docs/eula" target="_blank">IPU의 약관</a>에 동의하는 것으로 간주됩니다.</p>
				<button type="button" id="submit" class="input" onclick="formNxt()">Proceed</button>
				<div id="captcha" style="display: none;" class="g-recaptcha" data-sitekey="6LeoxLwaAAAAABC-oJu76Dt36Yb5K12Eu7a0pjD8" data-theme="dark"></div>
			</form>
		</div>
		<div style="position: absolute; bottom: 5px; left: 5px; color: #aaa; font-size: 15px;">
			This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" class="recaptch-a">Privacy Policy</a> and <a href="https://policies.google.com/terms" class="recaptch-a">Terms of Service</a> apply.
		</div>
	</body>
	<script>
		function keyDwn() {
			if(event.keyCode == 13) {
				formNxt();
			}
		}
		function formNxt() {
			document.getElementById('submit').disabled = true;
			$.ajax({
				url: "/auth/invite",
				data: {"code": document.getElementById('invite').value},
				type: "POST",
				dataType: "json",
				success: function(data) {
					if(data.status == 1) {
						document.getElementById('invite').style.opacity = 0;
						document.getElementById('errdisplay').style.display = "none";
						document.getElementById('submit').onclick = undefined;
						setTimeout(()=>{
							document.getElementById('invite').style.display = 'none';
							document.getElementById('name').style.display = 'inline-block';
							document.getElementById('id').style.display = 'inline-block';
							document.getElementById('pwd').style.display = 'inline-block';
							document.getElementById('captcha').style.display = "block";
							setTimeout(()=>{
								document.getElementById('name').style.opacity = 1;
								document.getElementById('id').style.opacity = 1;
								document.getElementById('pwd').style.opacity = 1;
								document.getElementById('submit').type = 'submit';
								document.getElementById('captcha').style.opacity = 1;
								document.getElementById('submit').innerText = "Sign up";
								document.getElementById('submit').disabled = false
							}, 50);
						}, 300);
					}
					else {
						document.getElementById('errdisplay').innerText = "초대코드를 확인할 수 없습니다.";
						document.getElementById('errdisplay').style.display = "inline-block";
						document.getElementById('invite').value = "";
						document.getElementById('submit').disabled = false
					};
				},
				error: function(err) {
					document.getElementById('errdisplay').innerText = "인증서버를 사용할 수 없습니다.";
					document.getElementById('errdisplay').style.display = "inline-block";
					document.getElementById('invite').value = "";
					document.getElementById('submit').disabled = false
				}
			});
		}
	</script>
	<script>
		grecaptcha.ready(function() {
		  	grecaptcha.execute('6Lcq9rgaAAAAAIieJ_q-d0am_YWDKZP8b1V1effD', {action: 'signup'}).then(function(token) {});
		});
	</script>
</html>