<!DOCTYPE html>

<html>
    <head>
        <title>문제 만들기 - IPU</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--Quill load-->
        <link rel="stylesheet" type="text/css" href="/lib/quill/quill.bubble.css">
        <link rel="stylesheet" type="text/css" href="/lib/quill/quill.core.css">
        <link rel="stylesheet" type="text/css" href="/lib/quill/quill.snow.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
        <script src="/lib/quill/quill.core.js"></script>
        <script src="/lib/quill/quill.js"></script>
        <script src="/lib/quill/quill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

        <%- include('../ejs-components/header-comp.ejs')%>
        <meta property="og:title" content="IPU - 문제 제작">
        <meta name="twitter:title" content="IPU - 문제 제작">
        <meta name="description" content="새 문제 만들기">
        <meta property="og:description" content="새 문제 만들기">
        <meta name="twitter:description" content="새 문제 만들기">
        <style>
            img {
                width: 100% !important;
            }
        </style>
    </head>
    <body class="no-mathjax">
        <div id="display" style="text-align: center;">
            <div id="root">
                <div id="heading">
                    <%- include('../ejs-components/goto.ejs')%>
                    <%- include('../ejs-components/user_header.ejs')%>
                </div>
                <h2 id="title">문제 등록</h2>
                <div id="prob-cont">
                    <div id="top-menu">
                        <input type="text" id="name" class="prob-name" spellcheck="false">
                        <select id="category" class="selbox">
                            <option disabled selected>분류</option>
                            <optgroup label="수학">
                                <option value="alge">대수</option>
                                <option value="numb">정수</option>
                                <option value="comb">조합</option>
                                <option value="geom">기하</option>
                            </optgroup>
                            <optgroup label="과학">
                                <option value="phys">물리</option>
                                <option value="chem">화학</option>
                                <option value="biol">생물</option>
                                <option value="eart">지구</option>
                            </optgroup>
                            <option value="etc">기타</option>
                        </select>
                        <select id="diffi" class="selbox">
                            <option disabled selected>난이도</option>
                            <option value="unra">Unrated</option>
                            <option value="broz">Bronze</option>
                            <option value="silv">Silver</option>
                            <option value="gold">Gold</option>
                            <option value="sapp">Sapphire</option>
                            <option value="ruby">Ruby</option>
                            <option value="diam">Diamond</option>
                        </select>
                    </div>
                    <h3 id="pro-cont" class="sub-title">문제 내용*</h3>
                    <div class="editor-container">
                        <div id="editor-cont"></div>
                    </div>
                    <h3 id="pro-exp" class="sub-title">풀이*</h3>
                    <div class="editor-container">
                        <div id="editor-exp"></div>
                    </div>
                    <h3 id="pro-ans" class="sub-title">정답*</h3>
                    <div class="editor-container">
                        <div id="editor-ans"></div>
                    </div>
                    <div id="hint-edit-container" class="expand-height" style="display: none; max-height: 0;">
                        <h3 id="pro-hint" class="sub-title">힌트</h3>
                        <div class="editor-container" style="margin-bottom: 5px;">
                            <div id="editor-hint"></div>
                        </div>
                    </div>
                    <div style="text-align: left; margin-bottom: 20px;">
                        <label><input type="checkbox" id="hashint" onchange="hintSH()">이 문제에 힌트를 추가합니다.</label>
                    </div>
                    <h3 id="pro-extr" class="sub-title" style="margin-bottom: 10px;">추가 탭</h3>
                    <div id="extr-tab-cont">
                        <div id="extr-edit-cont"></div>
                        <button id="extr-add" onclick="addExtr()" style="margin-top: 10px;">+ 추가</button>
                    </div>
                    <button id="preview" onclick="preview()">Preview</button>
                    <div id="preview-container" style="display: none; text-align: left !important; padding: 0;">
                        <div id="prob-cont-v" style="padding: 0 20px 0 20px; margin: 0; width: 100%;">
                            <h1 style="margin-bottom: 1em;" id="preview-name"></h1>
                            <span class="prob-title">문제</span>
                            <hr class="prob-hr">
                            <div id="preview-content" class="mathjax"></div>
                            <hr class="prob-div-hr">
                            <div id="hint-prev" class="expand-height" style="display: none; max-height: 0;">
                                <span class="prob-title">힌트</span>
                                <hr class="prob-hr">
                                <div id="preview-hint" class="mathjax"></div>
                                <hr class="prob-div-hr">
                            </div>
                            <span class="prob-title">풀이</span>
                            <hr class="prob-hr">
                            <div id="preview-exp" class="mathjax"></div>
                            <hr class="prob-div-hr">
                            <span class="prob-title">정답</span>
                            <hr class="prob-hr">
                            <div id="preview-ans" class="mathjax"></div>
                            <hr class="prob-div-hr">
                            <div id="custon-tabs">

                            </div>
                        </div>                        
                        <div id="prev-tool" style="text-align: center;">
                            <button id="confirm" onclick="confirme()">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../ejs-components/simple.ejs')%>
        </div>
        <script>
            const toolbar_conf = 
            {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'script': 'sub'}, { 'script': 'super' }],
                    [{'header': '1'}, {'header': '2'}, 'blockquote'],
                    ['link', 'image'],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                    [{ color: [] }, { background: [] }],
                ]
            };
            var contedit = new Quill('#editor-cont', {
                placeholder: '문제 내용',
                modules: toolbar_conf,
                theme: 'snow'
            });
            var expedit = new Quill('#editor-exp', {
                placeholder: '문제 풀이',
                modules: toolbar_conf,
                theme: 'snow'
            });
            var ansedit = new Quill('#editor-ans', {
                placeholder: '정답',
                modules: toolbar_conf,
                theme: 'snow'
            });
            var hintedit = new Quill('#editor-hint', {
                placeholder: '힌트',
                modules: toolbar_conf,
                theme: 'snow'
            });
            contedit.getModule('toolbar').addHandler('image', function() {
                selectLocalImage(contedit);
            });
            expedit.getModule('toolbar').addHandler('image', function() {
                selectLocalImage(expedit);
            });
            ansedit.getModule('toolbar').addHandler('image', function() {
                selectLocalImage(ansedit);
            });
            hintedit.getModule('toolbar').addHandler('image', function() {
                selectLocalImage(hintedit);
            });
            function selectLocalImage(forwhat) {
                const input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.click();
                input.onchange = function() {
                    const fd = new FormData();
                    const file = $(this)[0].files[0];
                    fd.append('img', file);
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: '/problem/make/upload',
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            const range = forwhat.getSelection();
                            forwhat.insertEmbed(range.index, 'image', 'https://ipu.r-e.kr/problem/lib/'+data);
                        },
                        error: function(err) {
                            console.error("Error: "+err);
                        }
                    });
                };
            }
        </script>
    </body>
    <script>
        function preview() {
            namex = document.getElementById('name').value;
            content = document.getElementById('editor-cont').getElementsByClassName('ql-editor')[0].innerHTML;
            exp = document.getElementById('editor-exp').getElementsByClassName('ql-editor')[0].innerHTML;
            ans = document.getElementById('editor-ans').getElementsByClassName('ql-editor')[0].innerHTML;
            hint = document.getElementById('editor-hint').getElementsByClassName('ql-editor')[0].innerHTML;
            document.getElementById('preview-container').style.display = "block";
            setTimeout(()=>{
                document.getElementById('preview-container').style.opacity = 1;
            }, 10);
            $('#preview-name').text(namex);
            $('#preview-content').html(content);
            $('#preview-exp').html(exp);
            $('#preview-ans').html(ans);
            $('#preview-hint').html(hint);
            let toAdd = document.getElementById('custon-tabs');
            let div = document.createElement('hr');
            div.classList.add('prob-hr');
            let divProb = document.createElement('hr');
            divProb.classList.add('prob-div-hr');
            toAdd.innerHTML = '';
            for(let i=0; i<extrTabCnt; i++) {
                let title = document.createElement('span');
                let cont = document.createElement('div');
                title.classList.add('prob-title');
                title.innerText = document.getElementById(`extr-tab-name-${i}`).value;
                cont.classList.add('mathjax');
                cont.innerHTML = document.getElementById(`extr-tab-edit-${i}`).getElementsByClassName('ql-editor')[0].innerHTML;
                toAdd.appendChild(title);
                toAdd.appendChild(div);
                toAdd.appendChild(cont);
                toAdd.appendChild(divProb);
            }
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            location.href = '#confirm'
        }
        function confirme() {
            let proceed = confirm("문제를 등록할까요?");
            let precond = true;
            if(!proceed) return;
            content = document.getElementById('editor-cont').getElementsByClassName('ql-editor')[0].innerHTML;
            exp = document.getElementById('editor-exp').getElementsByClassName('ql-editor')[0].innerHTML;
            ans = document.getElementById('editor-ans').getElementsByClassName('ql-editor')[0].innerHTML;
            hintx = document.getElementById('editor-hint').getElementsByClassName('ql-editor')[0].innerHTML;
            namep = document.getElementById('name').value;
            tabs = Array(extrTabCnt);
            for(let i=0; i<extrTabCnt; i++) {
                if(document.getElementById(`extr-tab-name-${i}`) == '') {
                    proceed = false;
                    break;
                }
                tabs[i] = {
                    name: document.getElementById(`extr-tab-name-${i}`).value,
                    content: document.getElementById(`extr-tab-edit-${i}`).getElementsByClassName('ql-editor')[0].innerHTML
                };
            }
            if(namep == "" || namep == undefined) {
                document.getElementById('name').classList.add('formthis');
                location.href = "#name";
                precond = false;
            }
            else {
                document.getElementById('name').classList.remove('formthis');
            }
            cat = document.getElementById('category');
            if(cat.selectedIndex == 0) {
                document.getElementById('category').classList.add('formthis');
                location.href = "#category";
                precond = false;
            }
            else {
                document.getElementById('category').classList.remove('formthis');
            }
            dif = document.getElementById('diffi');
            if(dif.selectedIndex == 0) {
                document.getElementById('diffi').classList.add('formthis');
                location.href = "#diffi";
                precond = false;
            }
            else {
                document.getElementById('diffi').classList.remove('formthis');
            }
            if(!precond) return;
            $.ajax({
                type: 'POST',
                url: '/problem/make/register',
                data: {
                    title: namep,
                    cate: cat.value,
                    difficult: dif.value,
                    cont: content,
                    expl: exp,
                    answ: ans,
                    hint: hintx,
                    hashint: document.getElementById('hashint').checked,
                    extr: JSON.stringify(tabs)
                },
                success: function(data) {
                    window.location.href = "/problem";
                },
                error: function(err) {
                    if(err.status == 403) {
                        let x = confirm('문제를 추가하려면 로그인해야 합니다.');
                        if(x) {
                            window.location.href = `/login/?ret=problem/make`;
                        }
                    }
                }
            });
        }
        function hintSH() {
            if(document.getElementById('hashint').checked) {
                document.getElementById('hint-edit-container').style.display = "block";
                setTimeout(()=>{
                    document.getElementById('hint-edit-container').style.maxHeight = "500px"
                }, 5);
                document.getElementById('hint-prev').style.display = "block";
                setTimeout(()=>{
                    document.getElementById('hint-prev').style.maxHeight = "500px"
                }, 5);
            }
            else {
                document.getElementById('hint-edit-container').style.maxHeight = "0"
                setTimeout(()=>{
                    document.getElementById('hint-edit-container').style.display = "none";
                }, 500);
                document.getElementById('hint-prev').style.maxHeight = "0"
                setTimeout(()=>{
                    document.getElementById('hint-prev').style.display = "none";
                }, 500);
            }
        }
        var extrTabCnt = 0;
        function addExtr() {
            let conf = confirm('새 탭을 추가할까요?');
            if(!conf) return;
            const toAdd = document.getElementById('extr-edit-cont');
            const rt_div = document.createElement('div');
            const name = document.createElement('input');
            const edit_div = document.createElement('div');
            const controls_div = document.createElement('div');        
            rt_div.id = `extr-tab-cont-${extrTabCnt}`;
            edit_div.id = `extr-tab-edit-${extrTabCnt}`;
            name.type = 'textfield';
            controls_div.classList.add('extr-ctrl-div');
            name.placeholder = '탭 이름';
            name.classList.add('extr-tab-name');
            name.id = `extr-tab-name-${extrTabCnt}`;
            controls_div.appendChild(name);
            rt_div.classList.add('extr-tab-edit-div');
            rt_div.appendChild(controls_div);
            rt_div.appendChild(edit_div);
            toAdd.appendChild(rt_div);
            var extr = new Quill(`#extr-tab-edit-${extrTabCnt}`, {
                placeholder: '추가 탭',
                modules: toolbar_conf,
                theme: 'snow'
            });
            extr.getModule('toolbar').addHandler('image', function() {
                selectLocalImage(extr);
            });
            extrTabCnt++;
        }
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>