<!DOCTYPE html>

<html>
    <head>
        <title>문제</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem.css">
        <script src="/lib/univ.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="display" style="text-align: center;">
            <div id="root">
                <div id="heading">
                    <div id="user">
                        <div id="nloged" style="display: <%= nlog%>">
                            <span id="welcome" style="margin-right: 5px;">
                                <a href="/login/?ret=problem/make" style="color: black; font-family: inherit; font-size: inherit;">login</a>
                            </span>
                            <span id="welcome" style="margin-left: 5px;">
                                <a href="/signup" style="color: black; font-family: inherit; font-size: inherit;">signup</a>
                            </span>
                        </div>
                        <div id="yloged" style="display: <%= ylog%>;">
                            <span id="welcome" style="margin-right: 5px;">
                                <a href="/profile" style="color: black; font-family: inherit; font-size: inherit;"><%= username%></a>
                            </span>
                            <span id="welcome" style="margin-left: 5px;">
                                <a href="/login/deauth" style="color: black; font-family: inherit; font-size: inherit;">Logout</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="prob-cont">
                    <h1>Problems</h1>
                    <div id="prob-cont">
                        <div class="prob-element"></div>
                    </div>
                </div>
            </div>
            <%- include('../ejs-components/simple.ejs')%>
        </div>
    </body>
</html>