<!DOCTYPE html>

<html>
    <head>
        <title>안녕히 가세요 - IPU</title>
        <%- include('../ejs-components/header-comp.ejs')%>
        <meta name="title" content="IPU - Goodbye">
        <meta property="og:title" content="IPU - Goodbye">
        <meta name="twitter:title" content="IPU - Goodbye">
        <meta name="description" content="IPU - Goodbye. 탈퇴가 성공적으로 이루어졌습니다.">
        <meta property="og:description" content="IPU - Goodbye. 탈퇴가 성공적으로 이루어졌습니다.">
        <meta name="twitter:description" content="IPU - Goodbye. 탈퇴가 성공적으로 이루어졌습니다.">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="/lib/univ.js"></script>
        <style>
            @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
            * {
                font-family: 'Spoqa Han Sans Neo', 'sans-serif';
            }
            h1 {
                font-weight: lighter;
                font-size: 120px;
                text-align: center;
                margin-bottom: 0px;
            }
            h3 {
                font-size: 30px;
                text-align: center;
                margin-top: 0px;
            }
            a {
                text-decoration: none;
                color: #6495ed;
                text-align: center;
                font-size: 25px;
            }
        </style>
    </head>
    <body>
        <div id="block" style="display: none;"></div>
        <div id="display">
            <div id="root">
                <div id="heading">
                    <%- include('../ejs-components/goto.ejs')%>
                </div>
                <div style="margin-top: 30px;" class="prob-cont-v">
                    <h1 style="align-self: center;">Goodbye</h1>
                    <h3>계정이 삭제되었습니다. 안녕히 가세요.</h3>
                    <h3><a href="/">Go to home</a></h3>
                </div>
            </div>
            <%- include('../ejs-components/basics.ejs')%>
        </div>
    </body>
</html>