<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>탈퇴 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/profile/goodbye.css">
        <meta name="title" content="IPU - 탈퇴">
        <meta property="og:title" content="IPU - 탈퇴">
        <meta name="twitter:title" content="IPU - 탈퇴">
        <meta name="description" content="IPU를 탈퇴하면 즉시 모든 계정과 정보가 삭제됩니다.">
        <meta property="og:description" content="IPU를 탈퇴하면 즉시 모든 계정과 정보가 삭제됩니다.">
        <meta name="twitter:description" content="IPU를 탈퇴하면 즉시 모든 계정과 정보가 삭제됩니다.">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div id="block" style="display: none;"></div>
        <div id="display">
            <div id="root">
                <div id="header"></div>
                <div style="text-align: center;">
                    <h1 id="wanna-del" th:text="${'계정 '+username+'('+userid+')를 삭제할까요?'}"></h1>
                    <p id="sel-acc-subt">계정을 삭제하면 즉시 모든 풀이기록, 프로필이 삭제될거에요.</p>
                    <p style="color: #f00; font-size: 2em; text-shadow: 0 0 2px #f00;" th:text="${fail}"></p>
                    <form method="POST">
                        <label class="fl">계속하려면 암호를 입력하세요</label><br>
                        <input type="password" id="pwd" name="pwd" class="univ-input" style="margin: 5px 0 10px 0;" required><br>
                        <label class="fl" style="margin-top: 5em;">삭제를 확인하려면 아래에 <i>"I Promise U"</i>를 정확하게 쓰세요.</label><br>
                        <input type="text" id="check" name="check" class="univ-input" onkeyup="changed()" style="margin: 5px 0 10px 0;" required spellcheck="false" autocomplete="off"><br>
                        <button id="real-del" class="univ-btn" style="margin: 10px 0 30px 0;" type="submit" disabled>삭제</button>
                    </form>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
    <script>
        function changed() {
            let t = gei('check').value;
            if(t == 'I Promise U') {
                gei('check').classList.add('okthis')
                gei('check').classList.remove('formthis')
                gei('real-del').disabled = false;
            }
            else {
                gei('check').classList.add('formthis')
                gei('check').classList.remove('okthis')
                gei('real-del').disabled = true;
            }
        }
    </script>
</html>