<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${'IPU - '+username+' 설정'}"></title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <script src="/lib/profile/settings.js"></script>
        <meta property="og:title" content="IPU - 프로필 설정">
        <meta name="twitter:title" content="IPU - 프로필 설정">
        <meta name="description" th:content="${username+' 프로필 설정'}">
        <meta property="og:description" th:content="${username+' 프로필 설정'}">
        <meta name="twitter:description" th:content="${username+' 프로필 설정'}">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div class="container">
            <div id="headerup">
                <h1 id="uname" th:text="${username}"></h1>
                <h3 id="uid" th:text="${userId}"></h3>
                <blockquote th:text="${bio}"></blockquote>
            </div>
            <hr style="border-top: 1px solid #ccc;">
            <span style="display: none; font-size: 1.2em; color: #f00; margin-bottom: 15px;" id="errdis"></span>
            <div class="page">
                <div class="section">
                    <p class="section-title">일반</p>
                    <p class="field-title" style="margin-top: 0;">이름:</p>
                    <input type="text" class="univ-input settings-input" th:value="${username}" id="name" name="name" autocomplete="nickname" placeholder="이름">
                    <p class="caption" id="nc">이 이름은 모두에게 공개돼요.</p>
                    <p  class="field-title">상태메시지:</p>
                    <textarea class="univ-text settings-input" id="bios" name="bios" placeholder="상태메시지" th:text="${bio}"></textarea>
                    <p class="caption" id="bioc">프로필 페이지에 뜨게 돼요.</p>
                    <p  class="field-title">이메일:</p>
                    <input type="text" class="univ-input settings-input" th:value="${email}" id="email" name="email" autocomplete="email" placeholder="이메일">
                    <!--
                    <p class="caption" style="text-decoration: line-through;">이 이메일로 암호복구 등의 알림을 보내드릴께요. 귀찮게는 안 해요ㅎㅎ</p>
                    -->
                    <p class="caption"  id="ec">이 버전의 IPU는 메일링을 지원하지 않아요. 일단 채워넣은거에요.</p>
                </div>
                <div class="section">
                    <p class="section-title">보안</p>
                    <a type="button" class="univ-btn" href="/settings/bye" style="color: #f00; font-size: 0.85em;">계정 삭제</a>
                    <button type="button" id="changepwd" class="univ-btn" onclick="activePwd()">암호 변경</button>
                    <input type="checkbox" style="display: none;" id="pwdChange" name="hasPwdChange">
                    <div id="pwdreg" style="display: none;">
                        <p style="margin: 5px 0;">새 암호:</p>
                        <input type="password" class="univ-input" id="npwd" name="npwd" autocomplete="new-password" placeholder="새 암호">
                        <p class="caption" style="margin-bottom: 0;">보안을 위해 추측하기 어려운 암호를 사용하세요.</p>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">정보</p>
                    <table>
                        <tr>
                            <td class="t-field">가입일</td>
                            <td class="t-field" th:text="${joined}"></td>
                        </tr>
                        <tr>
                            <td class="t-field">최종 로그인 시각</td>
                            <td class="t-field" th:text="${lastLogin}"></td>
                        </tr>
                        <tr>
                            <td class="t-field">최종 풀이 제출 시각</td>
                            <td class="t-field" th:text="${lastSolve}"></td>
                        </tr>
                        <tr>
                            <td class="t-field">사용자 UID</td>
                            <td class="t-field" th:text="${usrCd}"></td>
                        </tr>
                    </table>
                </div>
                <div class="section">
                    <p class="section-title">설정을 저장하려면 기존 암호를 입력하세요.</p>
                    <input type="password" class="univ-input" id="lpwd" name="lpwd" style="margin: 0;" autocomplete="current-password" placeholder="기존 암호">
                    <button type="button" onclick="upload()" class="univ-btn" style="margin-bottom: 20px">적용</button>
                    <p class="caption" style="margin-bottom: 0;"></p>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
</html>