<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${'IPU - '+username+' 설정'}"></title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <script src="/lib/profile/settings.js"></script>
        <meta property="og:title" content="IPU - 프로필 설정">
        <meta name="twitter:title" content="IPU - 프로필 설정">
        <meta name="description" th:content="${username+' 프로필 설정'}">
        <meta property="og:description" th:content="${username+' 프로필 설정'}">
        <meta name="twitter:description" th:content="${username+' 프로필 설정'}">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div class="container">
            <div id="headerup">
                <h1 id="uname" th:text="${username}"></h1>
                <h3 id="uid" th:text="${userId}"></h3>
                <blockquote th:text="${bio}"></blockquote>
            </div>
            <hr style="border-top: 1px solid #ccc;">
            <p class="result" th:if="${task=='profile' && success}">프로필이 업데이트되었습니다</p>
            <p class="result error" th:if="${task=='profile' && !success}">프로필을 업데이트하지 못했습니다.</p>
            <p class="result" th:if="${task=='email' && success}">아직 구현 안됐는데 뭘 하실려고...</p>
            <p class="result error" th:if="${task=='email' && !success}">이메일 기능은 아직 구현되지 않았습니다.</p>
            <p class="result" th:if="${task=='reset' && success}">계정이 초기화되었습니다.</p>
            <p class="result error" th:if="${task=='reset' && !success}">계정을 초기화하지 못했습니다.</p>
            <p class="result" th:if="${task=='upwd' && success}">암호가 변경되었습니다.</p>
            <p class="result error" th:if="${task=='upwd' && !success}">암호를 변경하지 못했습니다.</p>
                <div class="menu-container" style="margin-top: 20px;">
                    <div class="menu-selection">
                        <a href="/settings/personal" class="menu-element" th:classappend="${tab == 0 ? 'menu-element-selected' : ''}">일반</a>
                        <a href="/settings/account" class="menu-element" th:classappend="${tab == 1 ? 'menu-element-selected' : ''}">계정</a>
                        <a href="/settings/security" class="menu-element" th:classappend="${tab == 2 ? 'menu-element-selected' : ''}">보안</a>
                        <a href="/settings/info" class="menu-element" th:classappend="${tab == 3 ? 'menu-element-selected' : ''}">정보</a>
                    </div>
                    <div class="page" th:if="${tab == 0}">
                        <div class="section">
                            <form action="/settings/api/update/profile" method="post">
                                <p class="section-title">프로필</p>
                                <div class="field">
                                    <p class="field-title">이름</p>
                                    <input type="text" class="univ-input settings-input" th:value="${username}" id="name" name="name" autocomplete="nickname" placeholder="이름">
                                </div>
                                <div class="field">
                                    <p class="field-title">상태메시지</p>
                                    <textarea class="univ-text settings-input" id="bios" name="bio" placeholder="상태메시지" th:text="${bio}"></textarea>
                                </div>
                                <button class="univ-btn" type="submit">프로필 업데이트</button>
                            </form>
                        </div>
                        <div class="section">
                            <form action="/settings/api/update/email" method="post">
                                <p class="section-title">이메일</p>
                                <div class="field">
                                    <p class="field-title">이메일</p>
                                    <div class="input-field">
                                        <input type="text" class="univ-input settings-input" th:value="${email}" id="email" name="email" autocomplete="email" placeholder="이메일">
                                        <button class="univ-btn" type="submit">업데이트</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="page" th:if="${tab == 1}">
                        <div class="section">
                            <p class="section-title red">계정 초기화</p>
                            <div class="field">
                                <a type="button" class="univ-btn red" href="/settings/request/account/reset">계정 초기화</a>
                                <p class="caption red">이 작업은 계정의 모든 풀이기록을 삭제하고 경험치를 0으로 설정합니다. 한번 진행하면 되돌릴 수 없으니 신중하세요.</p>
                            </div>
                        </div>
                        <div class="section">
                            <p class="section-title red">계정 삭제</p>
                            <div class="field">
                                <a type="button" class="univ-btn red" href="/settings/request/account/delete">계정 삭제</a>
                                <p class="caption red">이 작업은 계정의 모든 정보를 삭제합니다. 한번 진행하면 되돌릴 수 없으니 신중하세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="page" th:if="${tab == 2}">
                        <div class="section">
                            <p class="section-title">암호</p>
                            <a type="button" class="univ-btn" href="/settings/request/password/update">암호 변경</a>
                        </div>
                    </div>
                    <div class="page" th:if="${tab == 3}">
                        <div class="section">
                            <p class="section-title">정보</p>
                            <table>
                                <tr>
                                    <td class="t-field">가입일</td>
                                    <td class="t-field" th:text="${joined}"></td>
                                </tr>
                                <tr>
                                    <td class="t-field">최종 로그인 시각</td>
                                    <td class="t-field" th:text="${lastLogin}"></td>
                                </tr>
                                <tr>
                                    <td class="t-field">최종 풀이 제출 시각</td>
                                    <td class="t-field" th:text="${lastSolve}"></td>
                                </tr>
                                <tr>
                                    <td class="t-field">사용자 UID</td>
                                    <td class="t-field" th:text="${usrCd}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="section" th:if="${tab == -1}">
                            <p>Oops. Something went wrong</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
</html>