<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>랭킹 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta property="og:title" content="IPU - 랭킹">
        <meta name="twitter:title" content="IPU - 랭킹">
        <meta name="description" content="IPU - 랭킹">
        <meta property="og:description" content="IPU - 랭킹">
        <meta name="twitter:description" content="IPU - 랭킹">
        <link rel="stylesheet" type="text/css" href="/lib/users/usr.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <script src="/lib/univ/converter.js"></script>
        <script src="/lib/users/usr.js"></script>
    </head>
    <body onload="load()">
        <th:block th:replace="/fragments/header.html :: navigation"></th:block>
        <div class="non-container">
            <h1 id="title">랭킹</h1>
        </div>
        <div class="container">
            <table id="users-table">
                <thead>
                    <tr>
                        <th style="width: 8%">등수</th>
                        <th style="width: 30%;">이름</th>
                        <th style="width: 52%;">상태 메시지</th>
                        <th style="width: 10%;">경험치</th>
                    </tr>
                </thead>
                <tbody id="addUsr"></tbody>
            </table>
        </div>
    </body>
</html>