<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <script src="/lib/univ/converter.js"></script>
        <meta property="og:title" content="IPU - 프로필">
        <meta name="twitter:title" content="IPU - 프로필">
        <meta name="description" th:content="${username+'의 프로필'}">
        <meta property="og:description" th:content="${username+'의 프로필'}">
        <meta name="twitter:description" th:content="${username+'의 프로필'}">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div class="container">
            <div id="headerup">
                <h1 id="uname" th:text="${username}"></h1>
                <h3 id="uid" th:text="${userId}"></h3>
                <blockquote th:text="${bio}"></blockquote>
                <div id="experience-div">
                    <p id="exp-name" th:text="${currentRank}"></p>
                    <div id="experience" style="background: #000; width: 100%; height: 30px; margin: 0;">
                        <div id="experi-visib" class="prog-exp" th:classappend="${'prog-exp-'+progressBarStyle}" th:style="${'width:'+progressBarWidth+'%'}">
                            <p class="exp-dis" th:text="${experience}"></p>
                        </div>
                    </div>
                    <div id="infp">
                        <p class="exp-dis infp" style="margin-top: 10px; margin-bottom: 30px;" th:text="${experience}"></p>
                        <p class="exp-dis infp" id="next-lv" style="margin-top: 10px; margin-bottom: 30px;" th:text="${lvupInf}"></p>
                    </div>
                </div>
            </div>
            <div class="menu-container">
                <div class="menu-selection">
                    <a href="?tab=solved" class="menu-element" th:classappend="${tab == 'solved' ? 'menu-element-selected' : ''}">푼 문제</a>
                    <a href="?tab=stars" class="menu-element" th:classappend="${tab == 'stars' ? 'menu-element-selected' : ''}">북마크</a>
                </div>
                <div class="non-container">
                    <table class="prob-list-table" th:unless="${nothing}" th:if="${tab == 'solved'}">
                        <thead>
                            <tr>
                                <th style="width: 9%">번호</th>
                                <th style="width: 20%;">문제 제목</th>
                                <th style="width: 30%;">정보</th>
                                <th style="width: 14%;">풀이 시간</th>
                                <th style="width: 22%;">푼 시각</th>
                                <th style="width: 5%">채점</th>
                            </tr>
                        </thead>
                        <tbody id="solveds">
                            <tr th:each="solve,index: ${solved}">
                                <td th:text="${index.index+1}"></td>
                                <td>
                                    <a th:text="${solve.name}" th:href="${'/problem/'+solve.code}"></a>
                                </td>
                                <td class="tag-con">
                                    <div th:utext="${solve.tags}"></div>
                                </td>
                                <td th:text="${solve.solt+'초'}"></td>
                                <td th:text="${solve.sol}"></td>
                                <td th:text="${solve.cor + '/' + solve.tot}" th:styleappend="${solve.cor == 0} ? 'color: #f03b1b' : 'color: #099134'"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="prob-list-table" th:if="${tab == 'stars'}">
                        <thead>
                            <tr>
                                <th style="width: 9%">번호</th>
                                <th style="width: 54%;">문제 제목</th>
                                <th style="width: 37%;">정보</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="star: ${stared}">
                                <td th:text="${star.code}"></td>
                                <td>
                                    <a th:text="${star.name}" th:href="${'/problem/'+star.code}"></a>
                                </td>
                                <td class="tag-con">
                                    <div th:utext="${star.tags}"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${tab == 'solved'}">
                <p id="not" th:if="${nothing}">페이지가 비어있어요.</p>
                <div id="nav">
                    <a id="prev" class="previous round" th:if="${hasPrev}" th:href="${'?page='+(pg-1)}">이전</a>
                    <span id="pnsep" style="user-select: none;" th:if="${hasPrev && hasNext}">······</span>
                    <a id="next" class="next round" th:if="${hasNext}" th:href="${'?page='+(pg+1)}">다음</a>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
</html>