<!DOCTYPE html>

<html>
    <head>
        <title><%= errorCode%> Error</title>
        <%- include('./ejs-components/header-comp.ejs')%>
        <link rel="stylesheet" href="/lib/error.css">
    </head>
    <body>
        <div class="vh-center">
            <h1><%=errorCode%></h1>
            <h3><%=errorExp%></h3>
            <a href="/" class="h-center">IPU 홈</a>
        </div>
    </body>
</html>