<!DOCTYPE html>

<html>
    <head>
        <title>IPU</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <script src="/lib/univ.js"></script>
    </head>
    <body onload="onload()">
        <div id="block" style="display: none;"></div>
        <div id="display">
            <div id="about-page">
                <div id="about-container">
                    <div class="about-title">I PROMISE U</div>
                    <div class="about-content">
                        <p class="about-text">I PROMISE U는 제가 웹을 활용하여 만들고 싶은 것들을 모아두는 곳입니다. 여러 상호작용, 그래픽, 계산등 주제는 정해져있지 않습니다. 떠오른 모든 아이디어를 모아두었습니다.</p>
                    </div>
                </div>
                <a id="about-close" href="/#!" onclick="HideAboutDisplay()">
                    <img class="about-close" width="50px" height="50px">
                </a>
            </div>
            <div id="header" class="meme">
                <span id="header-title">IPU</span>
            </div>
            <div id="footer">
                <div id="footer-up" class="footer-up">
                    <a id="footer-up-1" class="footer-text clickable footer-text-grad" href="/#!/about" onclick="AboutDisplay()">about ipu</a>
                    <p id="footer-up-2" class="footer-text cursor-none"> | </p>
                    <a id="footer-up-3" class="footer-text clickable footer-text-grad" href="https://github.com/miho73">miho73</a>
                </div>
                <div id="footer-dwn" class="footer-dwn">
                    <a id="fullscr-txt" class="footer-href clickable" onclick="Fullscreen();">full screen</a>
                </div>
            </div>
        </div>
    </body>
</html>