@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
    font-family: Cafe24Shiningstar;
    src: url("/lib/fonts/Cafe24/Cafe24Shiningstar.ttf");
}
@font-face {
    font-family: Cafe24Oneprettynight;
    src: url("/lib/fonts/Cafe24/Cafe24Oneprettynight.ttf");
}

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

*.clickable {
    cursor: pointer;
}
.cursor-none {
    cursor: default;
}

div#display {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform-origin: 0% 0%;
    overflow: hidden;
}
#header {
    text-align: center;
    height: 85px;
    border-width: 0 0 1px 0;
    border-color: #000;
    border-style: solid;
    cursor: pointer;
}
#footer {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -72px;
}
.footer-up {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.footer-dwn {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#about-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000df;
    opacity: 0;
}
.showme {
    opacity: 1 !important;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
}
.about-show-page {
    opacity: 1 !important;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
}
.about-hide-page {
    opacity: 0 !important;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
}
#root {
    position: absolute;
    width: 100%;
    height: 100%;
}
#user {
    position: absolute;
    text-align: right;
    width: 200px;
    margin-top: 60px;
    height: 25px;
    padding: 0 20px 0 0;
    right: 0;
}
#heading {
    width: 100%;
    height: 85px;
    border-color: #000;
    border-bottom: 2px;
    line-height: normal;
}
#root-margin {
    position: absolute;
    width: 100%;
    top: 85px;
}
#goto {
    position: absolute;
    text-align: left;
    width: 200px;
    margin-top: 60px;
    height: 25px;
    padding: 0 0 0 20px;
    left: 0;
}
#img-cont {
    width: 100%;
    max-height: 530px;
    overflow-y: hidden;
    margin: auto;
    box-shadow: 0 0 8px 8px #fff inset;
}

p.footer-text {
    color: #222;
    float: left;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 1;
    transition: color .15s linear;
    -moz-transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -o-transition: color .15s linear;
}
.footer-text:hover {
    color: #999;
}

span#header-title {
    position: absolute;
    top: 0;
    left: 50%;
    width: 74px;
    height: 84.8px;
    margin-left: -37px;
    font-size: 80px;
    font-family: 'Cafe24Shiningstar', 'Cafe24Oneprettynight', 'Spoqa Han Sans Neo', 'sans-serif';
}
#moving-p {
    font-size: 4em;
    font-weight: 600;
    color: #444;
    width: 100%;
    text-align: center;
}
.welcome {
    width: fit-content;
    text-align: right;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Cafe24Oneprettynight', 'Spoqa Han Sans Neo', 'sans-serif';
}
.welcome:hover {
    text-decoration: underline;
}
#welcomemsg {
    font-size: 2em;
}

a.footer-href {
    color: #444;
    font-size: 15px;
    font-weight: 350;
    text-align: center;
}
.footer-text {
    color: #222;
    float: left;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 1;
    transition: color .15s linear;
    -moz-transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -o-transition: color .15s linear;
}
#maincontents {
    margin-top: 10px;
}
.cont-href {
    padding: 0.8em 1.3em;
    background-color: #222;
    margin: 0 10px;
    font-size: 1.7em;
    color: #ddd;
    display: inline-block;
    width: fit-content;
    transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
}
.cont-href:hover {
    text-decoration: none;
    background-color: #555;
    color: #fff;
}

table.table {
    border: 1px solid #ddd;
    font-size: 15px;
    font-weight: 450;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border-radius: 0;
}

/*About Page CSS*/
/*About Page Open Color Changer*/
a.inverse-footer-up,p.inverse-footer-up {
    color: #fff !important;
}
a.inverse-footer-dwn,p.inverse-footer-dwn {
    color: #dedede !important;
}
span.inverse-header {
    color: #fff !important;
}
/*About Page Text CSS*/
div#about-container {
    position: absolute;
    width: 368px;
    height: 190px;
    margin-left: -184px;
    margin-top: -95px;
    left: 50%;
    top: 50%;
}
.about-title {
    font-family: 'Cafe24Shiningstar', 'Cafe24Oneprettynight', 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
    font-size: 100px;
    margin: 0;
    width: fit-content;
    color: #fff;
}
p.about-text {
    margin: 0;
    color: white;
    font-family: 'Cafe24Oneprettynight', 'Cafe24Shiningstar', 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 200;
    font-size: 1.2em;
}
a#about-close {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -20px;
}
img.about-close {
    content: url('/lib/imgs/x.png');
}
.about-close:hover {
    content: url('/lib/imgs/x-inv.png');
}