<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>관리자 항목 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta name="title" content="IPU - Problem DB">
        <meta property="og:title" content="IPU - Problem DB">
        <meta name="twitter:title" content="IPU - Problem DB">
        <meta name="description" content="sudo ipu">
        <meta property="og:description" content="sudo ipu">
        <meta name="twitter:description" content="sudo ipu">
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/manage/manage.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <script src="/lib/manage/controls.js"></script>
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <span style="display: none; font-size: 1.5em; color: #f00" id="errdis"></span>
        <div class="container">
            <div class="big-cont">
                <h2 class="big-title">PROBLEM DATABASE</h2>
                <div class="set-cont">
                    <span class="config-label">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 3%">problem_code</th>
                                    <th style="width: 7%;">problem_name</th>
                                    <th style="width: 3%;">problem_category</th>
                                    <th style="width: 3%;">problem_difficulty</th>
                                    <th style="width: 34%;">problem_content</th>
                                    <th style="width: 34%;">problem_solution</th>
                                    <th style="width: 7%;">tags</th>
                                    <th style="width: 3%;">active</th>
                                    <th style="width: 3%;">author_name</th>
                                    <th style="width: 3%;">added_at</th>
                                    <th style="width: 3%;">last_modified</th>
                                </tr>
                            </thead>
                            <tbody id="pData"></tbody>
                        </table>
                        <div class="control">
                            <span class="console-note">명령: </span>
                            <input type="text" id="pQueryCode" class="input console-field">
                            <button class="commit" onclick="pReq()">COMMIT</button>
                            <p class="ctrl-exp">[problem code]</p>
                        </div>
                    </span>
                </div>
            </div>
            <div class="big-cont">
                <h2 class="big-title">NAVIGATION</h2>
                <ul class="rt-nav">
                    <li class="rt-nav">
                        <a href="/problem/make">문제 추가 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/root/resources">리소스 관리 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/root/pdb">문제 DB</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>