<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>관리자 항목 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta name="title" content="IPU - 관리자 항목">
        <meta property="og:title" content="IPU - 관리자 항목">
        <meta name="twitter:title" content="IPU - 관리자 항목">
        <meta name="description" content="sudo ipu">
        <meta property="og:description" content="sudo ipu">
        <meta name="twitter:description" content="sudo ipu">
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/manage/manage.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <span style="display: none; font-size: 1.5em; color: #f00" id="errdis"></span>
        <div class="container">
            <div class="big-cont">
                <h2 class="big-title">IPU RESOURCE CENTER SEARCH</h2>
                <div class="set-cont">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10%">resource_code</th>
                                <th style="width: 60%;">resource</th>
                                <th style="width: 10%;">registered</th>
                                <th style="width: 7%;">registered_by</th>
                                <th style="width: 13%;">resource_name</th>
                            </tr>
                        </thead>
                        <tbody id="resource-list"></tbody>
                    </table>
                    <div class="control">
                        <span class="console-note">Code: </span>
                        <input type="text" id="code-to-search" class="input console-field">
                        <button class="commit" onclick="searchResource()">COMMIT</button>
                        <p class="ctrl-exp">code=[Resource code]</p>
                        <p class="ctrl-exp">name=[Resource name]</p>
                        <p class="ctrl-exp">LIST</p>
                    </div>
                </div>
            </div>
            <div class="big-cont">
                <h2 class="big-title">SET PROBLEM NAME</h2>
                <div class="set-cont">
                    <div class="control">
                        <span class="console-note">Command: </span>
                        <input type="text" id="name-change-command" class="input console-field">
                        <button class="commit" onclick="setProbName()">COMMIT</button><br>
                        <span style="font-size: 0.9em;" id="cNameRes">결과</span>
                        <p class="ctrl-exp">[Problem code] [Problem name]</p>
                    </div>
                </div>
            </div>
            <div class="big-cont">
                <h2 class="big-title">SEARCH PROBLEM USING RESOURCE</h2>
                <div class="set-cont">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10%">resource_code</th>
                                <th style="width: 60%;">resource</th>
                                <th style="width: 10%;">registered</th>
                                <th style="width: 7%;">registered_by</th>
                                <th style="width: 13%;">resource_name</th>
                            </tr>
                        </thead>
                        <tbody id="problem-using-resource"></tbody>
                    </table>
                    <div class="control">
                        <span class="console-note">Code: </span>
                        <input type="text" id="usrQuery" class="input console-field">
                        <button class="commit" onclick="">COMMIT</button><br>
                        <p class="ctrl-exp">code=[Problem code to search]</p>
                    </div>
                </div>
            </div>
            <div class="big-cont">
                <h2 class="big-title">NAVIGATION</h2>
                <ul class="rt-nav">
                    <li class="rt-nav">
                        <a href="/problem/make">문제 추가 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/root/resources">리소스 관리 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/root/pdb">문제 DB</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script>
        function searchResource() {
            let code = gei('code-to-search').value;
            $.ajax({
                method: 'POST',
                url: '/root/api/search-resource',
                data: {
                    code: code
                },
                success: function(data) {
                    let resArr = JSON.parse(data);
                    let html = '';
                    resArr.forEach(res => {
                        html+=`<tr><td>${res.resource_code}</td><td><img src="/problem/lib/${res.resource_code}" width="100%"></td><td>${res.registered}</td><td>${res.registered_by}</td><td>${res.resource_name}</td></tr>`;
                    });
                    gei('resource-list').innerHTML = html;
                },
                error: function(error) {
                    gei('resource-list').innerText = error.responseText.error;
                }
            });
        }

        function setProbName() {
            let command = gei('name-change-command').value.split(' ');
            let code = command[0], name = command[1];
            $.ajax({
                method: 'POST',
                url: '/root/api/change-name',
                data: {
                    code: code,
                    name: name
                },
                success: function(data) {
                    gei('cNameRes').innerText = data;
                },
                error: function(error) {
                    gei('cNameRes').innerText = data.responseText;
                }
            });
        }
    </script>
</html>