<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>관리자 항목 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta name="title" content="IPU - 관리자 항목">
        <meta property="og:title" content="IPU - 관리자 항목">
        <meta name="twitter:title" content="IPU - 관리자 항목">
        <meta name="description" content="sudo ipu">
        <meta property="og:description" content="sudo ipu">
        <meta name="twitter:description" content="sudo ipu">
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/manage/manage.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <span style="display: none; font-size: 1.5em; color: #f00" id="errdis"></span>
        <div class="container page">
            <div class="section">
                <p class="section-title">IPU RESOURCE CENTER SEARCH</p>
                <div class="non-container">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10%">resource_code</th>
                            <th style="width: 60%;">resource</th>
                            <th style="width: 10%;">registered</th>
                            <th style="width: 7%;">registered_by</th>
                            <th style="width: 13%;">resource_name</th>
                        </tr>
                        </thead>
                        <tbody id="resource-list"></tbody>
                    </table>
                </div>
                <div class="control">
                    <span class="console-note">Code: </span>
                    <input type="text" id="code-to-search" class="univ-input console-field" onkeyup="if(event.keyCode===13){searchResource()}">
                    <button class="commit" onclick="searchResource()">COMMIT</button>
                    <p class="ctrl-exp">code=[Resource code]</p>
                    <p class="ctrl-exp">name=[Resource name]</p>
                    <p class="ctrl-exp">LIST</p>
                </div>
            </div>
            <div class="section">
                <p class="section-title">SET RESOURCE NAME</p>
                <div class="control">
                    <span class="console-note">Command: </span>
                    <input type="text" id="name-change-command" class="univ-input console-field" onkeyup="if(event.keyCode===13){setProbName()}">
                    <button class="commit" onclick="setProbName()">COMMIT</button><br>
                    <span style="font-size: 0.9em;" id="cNameRes">결과</span>
                    <p class="ctrl-exp">[Problem code] [Problem name]</p>
                </div>
            </div>
            <div class="section">
                <p class="section-title">SEARCH PROBLEM USING RESOURCE</p>
                <div class="container" style="margin: 0; width: 100%;">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 15%">problem_code</th>
                                <th style="width: 65%;">problem_name</th>
                                <th style="width: 20%;">Editing page</th>
                            </tr>
                        </thead>
                        <tbody id="problem-using-resource"></tbody>
                    </table>
                </div>
                <div class="control">
                    <span class="console-note">Code: </span>
                    <input type="text" id="pUsnResCmd" class="univ-input console-field" onkeyup="if(event.keyCode===13){searchUsing()}">
                    <button class="commit" onclick="searchUsing()">COMMIT</button><br>
                    <p class="ctrl-exp">[Problem code to search]</p>
                </div>
            </div>
            <div class="section">
                <p class="section-title">DELETE RESOURCE</p>
                <div class="control">
                    <span class="console-note">Code: </span>
                    <input type="text" id="pDelRes" class="univ-input console-field">
                    <button class="commit" onclick="deleteRes()">COMMIT</button><br>
                    <span style="font-size: 0.9em;" id="cDelResRes">결과</span>
                    <p class="ctrl-exp">[Problem code to delete]</p>
                </div>
            </div>
            <div class="section">
                <p class="section-title">NAVIGATION</p>
                <ul class="rt-nav">
                    <li class="rt-nav">
                        <a href="/root">관리 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/problem/make">문제 추가 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/root/resources">리소스 관리 페이지</a>
                    </li>
                    <li class="rt-nav">
                        <a href="/root/pdb">문제 DB</a>
                    </li>
                </ul>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
    <script>
        function searchResource() {
            let code = gei('code-to-search').value;
            $.ajax({
                method: 'GET',
                url: '/root/api/resources/get/search',
                dataType: 'json',
                data: {
                    code: code
                },
                success: function(data) {
                    let resArr = data.result;
                    let html = '';
                    if(resArr.length == 0) {
                        gei('resource-list').innerHTML = 'Nothing was searched';
                        return;
                    }
                    resArr.forEach(res => {
                        html+=`<tr><td><button class="res-hash-copy" onclick="navigator.clipboard.writeText(this.innerText)">${res.resource_code}</button></td><td><img src="/problem/lib/${res.resource_code}" width="100%"></td><td>${res.registered}</td><td>${res.registered_by}</td><td>${res.resource_name}</td></tr>`;
                    });
                    gei('resource-list').innerHTML = html;
                },
                error: function(error) {
                    gei('resource-list').innerText = error.responseJSON.result;
                }
            });
        }

        function setProbName() {
            let command = gei('name-change-command').value.split(' ');
            let code = command[0], name = command[1];
            $.ajax({
                method: 'PATCH',
                url: '/root/api/resources/name/update',
                dataType: 'json',
                data: {
                    code: code,
                    name: name
                },
                success: function(data) {
                    gei('cNameRes').innerText = 'Updated resource name';
                },
                error: function(error) {
                    gei('cNameRes').innerText = error.responseJSON.result;
                }
            });
        }

        function searchUsing() {
            let command = gei('pUsnResCmd').value;
            $.ajax({
                method: 'GET',
                url: '/root/api/problem/search/resources',
                dataType: 'json',
                data: {
                    code: command
                },
                success: function(data) {
                    let resArr = data.result;
                    let html = '';
                    if(resArr.length == 0) {
                        gei('problem-using-resource').innerHTML = 'Nothing was searched';
                        return;
                    }
                    resArr.forEach(res => {
                        html+=`<tr><td>${res.code}</td><td><a href="/problem/${res.code}" target="_blank">${res.name}</a></td><td><a href="/problem/edit/${res.code}" target="_blank">EDIT PAGE</a></td></tr>`;
                    });
                    gei('problem-using-resource').innerHTML = html;
                },
                error: function(error) {
                    gei('problem-using-resource').innerText = error.responseJSON.result;
                }
            });
        }

        function deleteRes() {
            let command = gei('pDelRes').value;
            $.ajax({
                method: 'DELETE',
                url: '/root/api/resources/delete',
                dataType: 'json',
                data: {
                    code: command
                },
                success: function(data) {
                    gei('cDelResRes').innerText = 'Deleted resource';
                },
                error: function(error) {
                    gei('cDelResRes').innerText = error.responseJSON.result;
                }
            });
        }
    </script>
</html>