<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header-comp">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <!--OpenGraph-->
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://ipu.r-e.kr/lib/resources/og_image.png">
        <meta property="og:url" content="https://ipu.r-e.kr">
        <meta property="og:site_name" content="IPU">
        <meta property="og:locale" content="ko">
        <!--Twitter-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="https://ipu.r-e.kr/lib/resources/og_image.png">
        <!--resource loader-->
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/lib/univ.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-220R2DQHWL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-220R2DQHWL');
        </script>
    </th:block>
</html>