<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <!--Custom meta-->
        <meta name="title" content="IPU">
        <meta name="description" content="Think. Solve. Improve">        
        <meta name="robots" content="INDEX.FOLLOW">
        <meta property="og:title" content="IPU">
        <meta property="og:description" content="Think. Solve. Improve">
        <meta name="twitter:title" content="IPU">
        <meta name="twitter:description" content="Think. Solve. Improve">
        <link rel="stylesheet" href="/lib/index/index.css">
        <link rel="stylesheet" type="text/css" href="//cdn.lucys.r-e.kr/fonts/montserrat.css">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div class="index">
            <div class="cube" style="--bottom-color: #f31d1d;">
                <div class="cube-top"></div>
                <span class="face" style="--i:0;"></span>
                <span class="face" style="--i:1;"></span>
                <span class="face" style="--i:2;"></span>
                <span class="face" style="--i:3;"></span>
                <div class="cube-light"></div>
            </div>
            <div class="cube" style="--bottom-color: #21f021;">
                <div class="cube-top"></div>
                <span class="face" style="--i:0;"></span>
                <span class="face" style="--i:1;"></span>
                <span class="face" style="--i:2;"></span>
                <span class="face" style="--i:3;"></span>
                <div class="cube-light"></div>
            </div>
            <div class="cube" style="--bottom-color: #1381fd;">
                <div class="cube-top"></div>
                <span class="face" style="--i:0;"></span>
                <span class="face" style="--i:1;"></span>
                <span class="face" style="--i:2;"></span>
                <span class="face" style="--i:3;"></span>
                <div class="cube-light"></div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
</html>