<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <!--Custom meta-->
        <meta name="title" content="IPU">
        <meta name="description" content="Think. Solve. Improve">        
        <meta name="robots" content="INDEX.FOLLOW">
        <meta property="og:title" content="IPU">
        <meta property="og:description" content="Think. Solve. Improve">
        <meta name="twitter:title" content="IPU">
        <meta name="twitter:description" content="Think. Solve. Improve">
        <link rel="stylesheet" href="/lib/index/index.css">
        <link rel="stylesheet" type="text/css" href="/lib/fonts/montserrat.css">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div id="main">
            <div id="show">
                <div id="img-slide1" class="slide slide1">
                    <h1 class="slide-txt">Think. Solve. Improve</h1>
                </div>
            </div>
            <div id="frame">
                <div class="section-div">
                    <h1 class="subj-title mon-font">Think. Solve. Improve</h1>
                    <div class="statistics">
                        <div class="problems">

                        </div>
                    </div>
                    <hr class="section-div">
                </div>
            </div>
        </div>
    </body>
</html>