textarea {
    width: 80%;
    height: 500px;
    font-size: 1.3em;
}

p {
    line-break: anywhere;
}

p.error {
    color: #f00;
}

iframe {
    width: 60%;
    height: 300px;
}

p.ac-left {
    text-align: left;
}
p.ac-center {
    text-align: center;
}
p.ac-right {
    text-align: right;
}
p.ac-stretch {
    text-align: justify;
}

blockquote {
    border-left: 3px solid #cacaca;
    padding: 5px 15px;
    border-radius: 0;
}