h2#title {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
#sol-time {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
#sol-time::after {
    content: '초';
    font-size: 40px;
    font-weight: 500;
}

button#preview,#confirm {
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
    border-radius: 24.4px;
    background-color: #ff7f50;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
}

h3.sub-title {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    margin: auto;
    font-weight: 500;
}
#sol-time-took {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

div.editor-container {
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 30px;
}
#prob-control {
    transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
}
#prob-control-nd {
    transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
}
#after-sol {
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.25s ease;
}

textarea#editor {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: vertical
}
#display {
    overflow-y: auto !important;
}
#preview-container {
    width: 100%;
    margin: auto;
    padding-top: 1em;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    opacity: 0;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
}
#prob-cont {
    width: 80%;
    margin: auto;
}
#prob-cont-v {
    width: 60%;
    margin: auto;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #prob-cont-v {
        width: 90%;
    }
}
#top-menu {
    width: 100%;
    height: 40px;
}
.expand-height {
    overflow-y: hidden;
    transition: max-height .4s linear;
    -moz-transition: max-height .4s linear;
    -webkit-transition: max-height .4s linear;
    -o-transition: max-height .4s linear;
}
#hint-prev {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}
.extr-tab-edit-div {
    text-align: left;
    margin-bottom: 5px;
}
.extr-ctrl-div {
    width: 100%;
    height: fit-content;
    margin: 0;
    height: 33px;
}
#final-sol {
    transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
}


p.title-prev {
    margin-bottom: 0;
    margin-top: 2em;
    width: 97%;
    text-align: left;
    margin: auto;
    font-size: 1.2em;
}

input.prob-name {
    width: 30%;
    outline: none;
    font-size: 1.2em;
    font-weight: 400;
    height: 100%;
    box-sizing: border-box;
}
.extr-tab-name {
    outline: none;
    font-size: 15px;
    width: 50%;
    padding: 5px 10px 5px 10px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    display: inline-block;
}

select.selbox {
    height: 100%;
    outline: none;
    font-size: 1em;
    font-weight: 350;
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    width: fit-content;
    padding: 4px 25px 4px 5px;
    background: url('/lib/imgs/down-arrow.svg') no-repeat 95% 50%;
}

*.formthis {
    border-width: 1px;
    border-style: solid;
    border-color: #f00;
    box-shadow: 0 0 3px #f00;
}

a.prob-href {
    font-weight: 400;
}
#makenew {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 17px;
    color: black;
}
#makenew:hover {
    text-decoration: underline;
}
#show-hint {
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

span.prob-title {
    margin-bottom: 0;
    font-size: 25px;
    border-bottom: #6495ed 3px solid;
}

hr {
    margin-top: 0 !important;
}
.prob-hr {
    background-color: #eee;
    height: 1px;
}
.prob-div-hr {
    background-color: #ddd;
    height: 1px;
}

button {
    outline: none;
}
#extr-add {
    width: 100%;
    background-color: #eee;
    font-size: 20px;
    border: none;
    padding: 7px;
    margin-bottom: 10px;
    transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
}
#extr-add:hover {
    background-color: #c5c5c5;
}
.end-btn {
    padding: 7px 12px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #eee;
    border-radius: 10px;
    transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
}
#wa-btn {
    background-color: #dd4124;
}
#wa-btn:hover {
    background-color: #b1230a;
}
#show-ans-btn {
    background-color: #00b040;
}
#show-ans-btn:hover {
    background-color: #099134;
}

a.previous, a.next {
    text-decoration: none;
    font-size: 1.3em;
}