<!DOCTYPE html>

<html>
    <head>
        <title>문서 - IPU</title>
        <%- include('../ejs-components/header-comp.ejs')%>
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <script src="/lib/univ/converter.js"></script>
        <script src="/lib/problem/pShow.js"></script>
        <meta property="og:title" content="IPU - 문서">
        <meta name="twitter:title" content="IPU - 문서">
        <meta name="description" content="IPU - 문서">
        <meta property="og:description" content="IPU - 문서">
        <meta name="twitter:description" content="IPU - 문서">
    </head>
    <body>
        <%- include('../ejs-components/header.ejs')%>
        <h1 style="margin-bottom: 1em;">IPU 문서</h1>
            <div id="container">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 10%">번호</th>
                            <th style="width: 60%;">제목</th>
                            <th style="width: 30%;">정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="/docs/eula">사용자 약관</a></td>
                            <td><span class="tag tag-cate">규정</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="/docs/mpp">출제 규칙</a></td>
                            <td><span class="tag tag-cate">규정</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="/docs/license">라이선스 및 리소스 저작권 고지</a></td>
                            <td><span class="tag tag-cate">정보</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>