<!DOCTYPE html>

<html>
    <head>
        <title>IPU - 라이선스 및 리소스 저작권 고지</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/lib/univ.css">
        <link rel="stylesheet" type="text/css" href="/lib/docs/docs.css">
        <script src="/lib/univ.js"></script>
        <%- include('../ejs-components/header-comp.ejs')%>
        <meta name="title" content="IPU - 라이선스 및 리소스 저작권 고지">
        <meta property="og:title" content="IPU - 라이선스 및 리소스 저작권 고지">
        <meta name="twitter:title" content="IPU - 라이선스 및 리소스 저작권 고지">
        <meta name="description" content="IPU - 라이선스 및 리소스 저작권 고지">
        <meta property="og:description" content="IPU - 라이선스 및 리소스 저작권 고지">
        <meta name="twitter:description" content="IPU - 라이선스 및 리소스 저작권 고지">
    </head>
    <body>
        <%- include('../ejs-components/header.ejs')%>
        <div id="container">
            <h1 class="title">IPU 라이선스 및 리소스 저작권 고지</h1>
            <h3 class="head-pt">이 라이선스 및 리소스 저작권 고지는 2021년 6월 26일 업데이트되었으며, 2021년 6월 27일부터 유효합니다.</h3>
            <h3 class="head-pt">아래의 라이선스 및 리소스 저작권 고지는 IPU에 사용된 라이브러리, 프레임워크, API, 자료등의 출처, 제공자와 라이선스를 명시한 것 입니다.</h3>
            <ol>
                <li class="li" type="A">
                    <h3 class="pt">프로그램</h3>
                    <ol>
                        <li class="li" type="1"><a href="https://fonts.cafe24.com/" target="_blank">PostgreSQL</a>, IN NO EVENT SHALL THE UNIVERSITY OF CALIFORNIA BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF THE UNIVERSITY OF CALIFORNIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. THE UNIVERSITY OF CALIFORNIA SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE PROVIDED HEREUNDER IS ON AN "AS IS" BASIS, AND THE UNIVERSITY OF CALIFORNIA HAS NO OBLIGATIONS TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.</li>
                        <li class="li" type="1"><a href="https://nodejs.org/" target="_blank">NodeJS</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="http://nginx.org/" target="_blank">NginX</a>, BSD 허가서로 사용 허가됨</li>
                    </ol>
                </li>
                <li class="li" type="A">
                    <h3 class="pt">라이브러리 및 프레임워크</h3>
                    <ol>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/pg" target="_blank">pg</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/sanitize-html" target="_blank">sanitize-html</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/body-parser" target="_blank">body-parser</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/ejs" target="_blank">ejs</a>, Apache-2.0 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/express" target="_blank">express</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/express-session" target="_blank">express-session</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/multer" target="_blank">multer</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://www.npmjs.com/package/serve-favicon" target="_blank">serve-favicon</a>, MIT 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://quilljs.com/" target="_blank">quill</a>, BSD 3-Clause "New" or "Revised" License로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://jquery.org/license/" target="_blank">jQuery</a>, MIT License로 사용 허가됨</li>
                    </ol>
                </li>
                <li class="li" type="A">
                    <h3 class="pt">리소스</h3>
                    <ol>
                        <li class="li" type="1"><a href="https://fonts.cafe24.com/" target="_blank">Cafe24 글씨체</a>, OFL 라이선스로 사용 허가됨</li>
                        <li class="li" type="1"><a href="https://spoqa.github.io/spoqa-han-sans/" target="_blank">Spoqha Han Sans Neo 글씨체</a>, OFL 라이선스로 사용 허가됨</li>
                    </ol>
                </li>
            </ol>
        </div>
    </body>
</html>