<!DOCTYPE html>

<html>
    <head>
        <title>Sounds for study - IPU</title>
        <meta charset="utf-8">
        <meta name="title" content="Sounds for study - IPU">
        <%- include('../ejs-components/header-comp.ejs')%>
        <meta property="og:title" content="Sound for study - IPU">
        <meta name="twitter:title" content="Sound for study - IPU">
        <meta name="description" content="Sound for study main">
        <meta property="og:description" content="Sound for study main">
        <meta name="twitter:description" content="Sound for study main">
        <link rel="stylesheet" href="/lib/sounds/snds.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 id="title">Sounds for Study</h1>
        <ul>
            <li><a href="/sounds/hogwarts" target="_self" class="sndLst">Hogwarts</a></li>
            <li><a href="/sounds/kang" target="_self" class="sndLst">강성태, 공부할 때 듣는 음악</a></li>
            <li><a href="/sounds/ani" target="_self" class="sndLst">OST from Animations</a></li>
            <li><a href="/" target="_self" class="sndLst">Main Page</a></li>
        </ul>
    </body>
</html>