<div id="about-page" style="display: none;">
    <div id="about-container">
        <div class="about-title">I PROMISE U</div>
        <div class="about-content">
            <p class="about-text">I PROMISE U는 제가 공부하는 문제들을 모아둔 곳 입니다. 효과적으로 문제를 보고, 풀고, 확인하고 복습하여 결국 그 문제를 정복할 수 있게 돕습니다.</p>
        </div>
    </div>
    <a id="about-close" onclick="HideAboutDisplay()">
        <img class="about-close" width="40px" height="40px">
    </a>
</div>
<div id="header">
    <span id="header-title">IPU</span>
</div>
<div id="footer">
    <div id="footer-up" class="footer-up">
        <a id="footer-up-1" class="footer-text clickable footer-text-grad" onclick="AboutDisplay()">about ipu</a>
        <p id="footer-up-2" class="footer-text cursor-none"> | </p>
        <a id="footer-up-3" class="footer-text clickable footer-text-grad" href="https://github.com/miho73">miho73</a>
    </div>
    <div id="footer-dwn" class="footer-dwn">
        <a id="fullscr-txt" class="footer-href clickable" onclick="Fullscreen();">full screen</a>
    </div>
</div>