<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>이슈 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <meta name="title" content="IPU - 이슈">
        <meta name="description" content="IPU - 이슈 목록">
        <meta property="og:title" content="IPU - 이슈">
        <meta property="og:description" content="IPU - 이슈 목록">
        <meta name="twitter:title" content="IPU - 이슈">
        <meta name="twitter:description" content="IPU - 이슈 목록">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <h1 class="title">이슈</h1>
        <p class="subtitle">문제에 관한 오류 문의, 이의제기는 여기에 올려주세요! 검토하고 수정할께요.</p>
        <div class="container" style="margin-bottom: 20px; padding: 7px 0; text-align: end;">
            <a class="univ-btn" href="/issue/new">이슈 제기</a>
        </div>
        <div class="container" style="margin-top: 20px;">
            <table>
                <thead>
                    <th style="width: 5%">번호</th>
                    <th style="width: 42%">제목</th>
                    <th style="width: 12%">문제</th>
                    <th style="width: 15%">종류</th>
                    <th style="width: 16%">상태</th>
                    <th style="width: 10%">작성자</th>
                </thead>
                <tbody>
                    <tr th:each="issue: ${issue}">
                        <td th:text="${issue.getIssueCode()}"></td>
                        <td>
                            <a th:text="${issue.getIssueName()}" th:href="${'/issue/'+issue.getIssueCode()}"></a>
                        </td>
                        <td>
                           <a th:text="${issue.getForProblem()+'번'}" th:href="${'/problem/'+issue.getForProblem()}"></a>
                        </td>
                        <td th:text="${issue.getType()}"></td>
                        <td th:text="${issue.getStatus()}"></td>
                        <td th:text="${issue.getAuthor()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--
        <p id="not" th:if="${nothing}">페이지가 비어있어요.</p>
        <div id="nav">
            <a id="prev" class="previous round" th:if="${hasPrev}" th:href="${'/problem/?page='+(page-1)}">이전</a>
            <span id="pnsep" th:if="${hasPrev && hasNext}">······</span>
            <a id="next" class="next round" th:if="${hasNext}" th:href="${'/problem/?page='+(page+1)}">다음</a>
        </div>
        -->
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
</html>