<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>문제 수정 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta property="og:title" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta name="twitter:title" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta name="description" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta property="og:description" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta name="twitter:description" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <link rel="stylesheet" type="text/css" href="/lib/problem/nproblem.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem-solve.css">
        <link rel="stylesheet" type="text/css" href="/lib/ipuac/ipuac.css">
        <script src="/lib/ipuac/ipuac.js"></script>
        <script src="/lib/problem/mkProblem.js"></script>
    </head>
    <body class="no-mathjax" onload="loaded()">
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <h1 id="title">문제 수정</h1>
        <div class="container">
            <div id="top-menu">
                <input type="text" id="name" class="univ-input" spellcheck="false">
                <select id="category" class="univ-sel">
                    <option disabled selected>분류</option>
                    <optgroup label="수학">
                        <option value="alge">대수</option>
                        <option value="numb">정수</option>
                        <option value="comb">조합</option>
                        <option value="geom">기하</option>
                    </optgroup>
                    <optgroup label="과학">
                        <option value="phys">물리</option>
                        <option value="chem">화학</option>
                        <option value="biol">생물</option>
                        <option value="eart">지구</option>
                    </optgroup>
                    <option value="etce">기타</option>
                </select>
                <select id="diffi" class="univ-sel">
                    <option disabled selected>난이도</option>
                    <option value="unse">Unset</option>
                    <option value="unra">Unrated</option>
                    <option value="broz">Bronze</option>
                    <option value="silv">Silver</option>
                    <option value="gold">Gold</option>
                    <option value="sapp">Sapphire</option>
                    <option value="ruby">Ruby</option>
                    <option value="diam">Diamond</option>
                </select>
            </div>
            <div id="tools">
                <button onclick="selectLocalImage()" class="univ-btn">이미지 업로드</button>
                <p id="image-upload-result"></p>
            </div>
            <h3 id="pro-cont" class="sub-title">문제 내용*</h3>
            <div class="editor-container">
                <textarea id="content" class="editor univ-text"></textarea>
            </div>
            <h3 id="pro-exp" class="sub-title">풀이*</h3>
            <div class="editor-container">
                <textarea id="solution" class="editor univ-text"></textarea>
            </div>
            <h3 id="pro-tags" class="sub-title" style="margin-bottom: 10px;">태그</h3>
            <div id="addc-tags-cont">
                <div id="tags-cont"></div>
                <div id="add-tags-cont">
                    <div class="tag-element-div">
                        <label>태그: </label>
                        <input type="text" id="tag-input" class="univ-input tag-input" spellcheck="false" style="width: 89.5%;">
                    </div>
                    <div class="tag-element-div">
                        <label>글씨 색: </label>
                        <input type="text" id="tag-fore" class="univ-input tag-input tag-color" onkeyup="updateColor('tag-fore')" spellcheck="false" value="333">
                    </div>
                    <div class="tag-element-div">
                        <label>배경 색: </label>
                        <input type="text" id="tag-back" class="univ-input tag-input tag-color" onkeyup="updateColor('tag-back')" spellcheck="false" value="9cff65" style="background-color: #9cff65;">
                    </div>
                    <button id="add-tag" class="univ-btn" onclick="tagHandle()" style="min-width: 50px; height: 100%">추가</button>
                </div>
                <div id="add-tags-edit">
                    <input id="edit-tags" type="text" class="univ-input" spellcheck="false" style="width: 100%;" value="[]">
                    <button id="apply-tag-edit" class="univ-btn" onclick="applyTagsJSONtoVar()" style="min-width: 50px;">적용</button>
                </div>
                <div id="preset-tags">
                    <div class="tag-preset">
                        <input id="pActive" type="checkbox">
                        <label for="pActive">문제 활성화</label>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button id="preview" class="mpb" onclick="preview()">Preview</button>
            </div>
            <div id="preview-container" style="display: none; text-align: left !important; padding: 0;">
                <div style="margin: 0 5%; width: 90%;" class="mathjax">
                    <h1 style="margin-bottom: 1em;" id="preview-name"></h1>
                    <div id="prev-content"></div>
                    <div id="prev-solution"></div>
                </div>
                <div style="text-align: center;">
                    <button id="top" class="mpb" onclick="location.href = '#title';">Top</button>
                    <button id="confirm" class="mpb" onclick="confirmex()">Confirm</button>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
    <script th:inline="javascript">
        function loaded() {
            $.ajax({
                type: 'GET',
                url: '/problem/api/get',
                dataType: 'json',
                data: {
                    code: [[${prob_code}]]
                },
                error: function(request,status,error) {
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function(json) {
                    apply = json.result;
                    gei('content').value = apply.prob_cont;
                    gei('solution').value = apply.prob_exp;
                    gei('name').value = apply.prob_name;
                    gei('category').value = apply.cate;
                    gei('diffi').value = apply.diff;
                    gei('pActive').checked = apply.active;
                    let tags = JSON.parse(apply.tags);
                    tags.forEach(tagc=>{
                        let ne = {
                            key: tagc.key,
                            content: tagc.content,
                            color: tagc.color,
                            back: tagc.back
                        };
                        tag.push(ne);
                        let ntag = document.createElement('span');
                        ntag.classList.add('tag');
                        ntag.classList.add(`tag-${ne.key}`);
                        ntag.innerText = ne.content;
                        ntag.style.backgroundColor = `#${ne.back}`;
                        ntag.style.color = `#${ne.color}`;
                        gei('tags-cont').appendChild(ntag);
                    });
                    gei('edit-tags').value = apply.tags;
                }
            });
        }
        function confirmex() {
            let proceed = confirm("문제를 업데이트할까요?");
            let precond = true;
            if(!proceed) return;
            content = gei('content').value;
            exp = gei('solution').value;
            namep = gei('name').value;
            if(namep == "" || namep == undefined) {
                gei('name').classList.add('formthis');
                location.href = "#name";
                precond = false;
            }
            else {
                gei('name').classList.remove('formthis');
            }
            cat = gei('category');
            if(cat.selectedIndex == 0) {
                gei('category').classList.add('formthis');
                location.href = "#category";
                precond = false;
            }
            else {
                gei('category').classList.remove('formthis');
            }
            dif = gei('diffi');
            if(dif.selectedIndex == 0) {
                gei('diffi').classList.add('formthis');
                location.href = "#diffi";
                precond = false;
            }
            else {
                gei('diffi').classList.remove('formthis');
            }
            if(!precond) return;
            $.ajax({
                type: 'PUT',
                url: '/problem/update',
                dataType: 'json',
                data: {
                    name: namep,
                    code: [[${prob_code}]],
                    cate: cat.value,
                    diff: dif.value,
                    cont: content,
                    solu: exp,
                    tags: JSON.stringify(tag),
                    active: gei('pActive').checked
                },
                success: function(data) {
                    window.onbeforeunload = undefined;
                    window.location.href = [[${'/problem/'+prob_code}]];
                },
                error: function(err) {
                    if(err.status == 403) {
                        let x = confirm('문제를 업데이트하려면 로그인해야 해요.');
                        if(x) {
                            window.location.href = `/login/?ret=problem/[[${prob_code}]]/edit`;
                        }
                    }
                }
            });
        }
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            }
        });
    </script>
    <script>
        window.onbeforeunload = function (e) {
            e = e || window.event;
            if (e) {
                e.returnValue = '편집사항이 저장되지 않아요. 정말 닫을까요?';
            }
            return '편집사항이 저장되지 않아요. 정말 닫을까요?';
        };
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>