<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>문제 수정 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta property="og:title" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta name="twitter:title" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta name="description" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta property="og:description" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <meta name="twitter:description" th:content="${'IPU - '+prob_code+'번 문제 수정'}">
        <link rel="stylesheet" type="text/css" href="/lib/problem/nproblem.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem-solve.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.3/quill.snow.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.3/quill.min.js" type="text/javascript"></script>
        <style>
            img {
                width: 100% !important;
            }
        </style>
    </head>
    <body class="no-mathjax" onload="loaded()">
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <h1 id="title" th:text="${prob_code+'번 문제 수정'}"></h1>
        <div class="container">
            <div id="top-menu">
                <input type="text" id="name" class="prob-name" spellcheck="false">
                <select id="category" class="selbox">
                    <option disabled selected>분류</option>
                    <optgroup label="수학">
                        <option value="alge">대수</option>
                        <option value="numb">정수</option>
                        <option value="comb">조합</option>
                        <option value="geom">기하</option>
                    </optgroup>
                    <optgroup label="과학">
                        <option value="phys">물리</option>
                        <option value="chem">화학</option>
                        <option value="biol">생물</option>
                        <option value="eart">지구</option>
                    </optgroup>
                    <option value="etc">기타</option>
                </select>
                <select id="diffi" class="selbox">
                    <option disabled selected>난이도</option>
                    <option value="unra">Unrated</option>
                    <option value="broz">Bronze</option>
                    <option value="silv">Silver</option>
                    <option value="gold">Gold</option>
                    <option value="sapp">Sapphire</option>
                    <option value="ruby">Ruby</option>
                    <option value="diam">Diamond</option>
                </select>
            </div>
            <h3 id="pro-cont" class="sub-title">문제 내용*</h3>
            <div class="editor-container">
                <div id="editor-cont"></div>
                <div class="table-controller">
                    <button id="tbtn-1" class="ctrl-table" onclick="ctrlTable(1)">&#62; Open table editor</button>
                    <div class="table-menu" id="tab-1">
                        <button class="table-btn"  onclick="addTable      (conttable)">테이블 추가</button>
                        <button class="table-btn"  onclick="addColumnLeft (conttable)">왼쪽 행 추가</button>
                        <button class="table-btn"  onclick="addColumnRight(conttable)">오른쪽 행 추가</button>
                        <button class="table-btn"  onclick="addRowAbove   (conttable)">위에 열 추가</button>
                        <button class="table-btn"  onclick="addRowBelow   (conttable)">아래 열 추가</button>
                        <button class="table-btn"  onclick="deleteColumn  (conttable)">행 삭제</button>
                        <button class="table-btn"  onclick="deleteRow     (conttable)">열 삭제</button>
                        <button class="table-btn"  onclick="deleteTable   (conttable)">테이블 삭제</button>
                    </div>
                </div>
            </div>
            <h3 id="pro-exp" class="sub-title">풀이*</h3>
            <div class="editor-container">
                <div id="editor-exp"></div>
                <div class="table-controller">
                    <button id="tbtn-2" class="ctrl-table" onclick="ctrlTable(2)">&#62; Open table editor</button>
                    <div class="table-menu" id="tab-2">
                        <button class="table-btn"  onclick="addTable      (exptable)">테이블 추가</button>
                        <button class="table-btn"  onclick="addColumnLeft (exptable)">왼쪽 행 추가</button>
                        <button class="table-btn"  onclick="addColumnRight(exptable)">오른쪽 행 추가</button>
                        <button class="table-btn"  onclick="addRowAbove   (exptable)">위에 열 추가</button>
                        <button class="table-btn"  onclick="addRowBelow   (exptable)">아래 열 추가</button>
                        <button class="table-btn"  onclick="deleteColumn  (exptable)">행 삭제</button>
                        <button class="table-btn"  onclick="deleteRow     (exptable)">열 삭제</button>
                        <button class="table-btn"  onclick="deleteTable   (exptable)">테이블 삭제</button>
                    </div>
                </div>
            </div>
            <h3 id="pro-ans" class="sub-title">정답*</h3>
            <div class="editor-container">
                <div id="editor-ans"></div>
                <div class="table-controller">
                    <button id="tbtn-3" class="ctrl-table" onclick="ctrlTable(3)">&#62; Open table editor</button>
                    <div class="table-menu" id="tab-3">
                        <button class="table-btn"  onclick="addTable      (anstable)">테이블 추가</button>
                        <button class="table-btn"  onclick="addColumnLeft (anstable)">왼쪽 행 추가</button>
                        <button class="table-btn"  onclick="addColumnRight(anstable)">오른쪽 행 추가</button>
                        <button class="table-btn"  onclick="addRowAbove   (anstable)">위에 열 추가</button>
                        <button class="table-btn"  onclick="addRowBelow   (anstable)">아래 열 추가</button>
                        <button class="table-btn"  onclick="deleteColumn  (anstable)">행 삭제</button>
                        <button class="table-btn"  onclick="deleteRow     (anstable)">열 삭제</button>
                        <button class="table-btn"  onclick="deleteTable   (anstable)">테이블 삭제</button>
                    </div>
                </div>
            </div>
            <div id="hint-edit-container" class="expand-height" style="display: none; max-height: 0;">
                <h3 id="pro-hint" class="sub-title">힌트</h3>
                <div class="editor-container" style="margin-bottom: 5px;">
                    <div id="editor-hint"></div>
                    <div class="table-controller">
                        <button id="tbtn-4" class="ctrl-table" onclick="ctrlTable(4)">&#62; Open table editor</button>
                        <div class="table-menu" id="tab-4">
                            <button class="table-btn"  onclick="addTable      (hinttable)">테이블 추가</button>
                            <button class="table-btn"  onclick="addColumnLeft (hinttable)">왼쪽 행 추가</button>
                            <button class="table-btn"  onclick="addColumnRight(hinttable)">오른쪽 행 추가</button>
                            <button class="table-btn"  onclick="addRowAbove   (hinttable)">위에 열 추가</button>
                            <button class="table-btn"  onclick="addRowBelow   (hinttable)">아래 열 추가</button>
                            <button class="table-btn"  onclick="deleteColumn  (hinttable)">행 삭제</button>
                            <button class="table-btn"  onclick="deleteRow     (hinttable)">열 삭제</button>
                            <button class="table-btn"  onclick="deleteTable   (hinttable)">테이블 삭제</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: left; margin-bottom: 20px; margin-top: 20px;">
                <label><input type="checkbox" id="hashint" onchange="hintSH()">이 문제에 힌트를 추가합니다.</label>
            </div>
            <h3 id="pro-extr" class="sub-title" style="margin-bottom: 10px;">추가 탭</h3>
            <div id="extr-tab-cont">
                <div id="extr-edit-cont"></div>
                <button id="extr-add" onclick="addExtr()" style="margin-top: 10px;">+ 추가</button>
            </div>
            <h3 id="pro-tags" class="sub-title" style="margin-bottom: 10px;">태그</h3>
            <div id="addc-tags-cont">
                <div id="tags-cont"></div>
                <div id="add-tags-cont">
                    <div>
                        <label>태그: </label>
                        <input type="text" id="tag-input" class="tag-input" spellcheck="false">
                    </div>
                    <div>
                        <label>글씨 색: </label>
                        <input type="text" id="tag-fore" class="tag-input tag-color" onkeyup="updateColor('tag-fore')" spellcheck="false" value="333">
                    </div>
                    <div>
                        <label>배경 색: </label>
                        <input type="text" id="tag-back" class="tag-input tag-color" onkeyup="updateColor('tag-back')" spellcheck="false" value="9cff65" style="background-color: #9cff65;">
                    </div>
                    <button id="add-tag" onclick="tagHandle()">추가</button>
                </div>
            </div>
            <div style="text-align: center;">
                <button id="preview" onclick="preview()">Preview</button>
            </div>
            <div id="preview-container" style="display: none; text-align: left !important; padding: 0;">
                <div style="margin: 0 5%; width: 90%;">
                    <h1 style="margin-bottom: 1em;" id="preview-name"></h1>
                    <span class="prob-title">문제</span>
                    <hr class="prob-hr">
                    <div id="preview-content" class="mathjax prob-appl ql-editor ql-shower"></div>
                    <hr class="prob-div-hr">
                    <div id="hint-prev" class="expand-height" style="display: none; max-height: 0;">
                        <span class="prob-title">힌트</span>
                        <hr class="prob-hr">
                        <div id="preview-hint" class="mathjax prob-appl ql-editor ql-shower"></div>
                        <hr class="prob-div-hr">
                    </div>
                    <span class="prob-title">풀이</span>
                    <hr class="prob-hr">
                    <div id="preview-exp" class="mathjax prob-appl ql-editor ql-shower"></div>
                    <hr class="prob-div-hr">
                    <span class="prob-title">정답</span>
                    <hr class="prob-hr">
                    <div id="preview-ans" class="mathjax prob-appl ql-editor ql-shower"></div>
                    <hr class="prob-div-hr">
                    <div id="custon-tabs">
                 </div>
                </div>                        
                <div style="text-align: center;">
                    <button id="confirm" onclick="confirmex()">Confirm</button>
                </div>
            </div>
        </div>
    </body>
    <script src="/lib/problem/mkProblem.js"></script>
    <script th:inline="javascript">
        function loaded() {
            $.ajax({
                type: 'POST',
                url: '/problem/api/get-detail',
                data: {
                    code: [[${prob_code}]]
                },
                error: function(request,status,error) {
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function(apply) {
                    console.log(apply);
                    init(contedit, apply.prob_cont);
                    init(expedit, apply.prob_exp);
                    init(ansedit, apply.prob_ans);
                    init(hintedit, apply.prob_hint);
                    document.getElementById('name').value = apply.prob_name;
                    document.getElementById('hashint').checked = apply.hashint;
                    if(apply.hashint) {
                        hintSH();
                    }
                    document.getElementById('category').value = apply.cate;
                    document.getElementById('diffi').value = apply.diff;
                    let ext = JSON.parse(apply.spec);
                    ext.forEach(ele => {
                        const toAdd = document.getElementById('extr-edit-cont');
                        const name = document.createElement('input');
                        const rt_div = document.createElement('div');
                        const edit_div = document.createElement('div');
                        const controls_div = document.createElement('div'); 
                        const table_control = document.createElement('div');
                        const open_table_ctrl = document.createElement('button');
                        const table_menu = document.createElement('div');
                        const button = [];
                        for(let i=0; i<8; i++) {
                            button.push(document.createElement('button'));
                            button[i].classList.add('table-btn');
                            table_menu.appendChild(button[i]);
                        }
                        let priCode = extrTabCnt+5;
                        rt_div.id = `extr-tab-cont-${extrTabCnt}`;
                        edit_div.id = `extr-tab-edit-${extrTabCnt}`;
                        name.type = 'textfield';
                        controls_div.classList.add('extr-ctrl-div');
                        name.placeholder = '탭 이름';
                        name.classList.add('extr-tab-name');
                        name.id = `extr-tab-name-${extrTabCnt}`;
                        table_control.classList.add('table-controller');
                        controls_div.appendChild(name);
                        open_table_ctrl.id = `tbtn-${priCode}`;
                        open_table_ctrl.classList.add('ctrl-table');
                        open_table_ctrl.setAttribute('onclick',`ctrlTable(${priCode})`);
                        open_table_ctrl.innerText='> Open table editor'
                        table_menu.classList.add('table-menu');
                        table_menu.id = `tab-${priCode}`;
                        table_control.appendChild(open_table_ctrl);
                        table_control.appendChild(table_menu);
                        rt_div.classList.add('extr-tab-edit-div');
                        rt_div.appendChild(controls_div);
                        rt_div.appendChild(edit_div);
                        rt_div.append(table_control);
                        toAdd.appendChild(rt_div);
                        var extr = new Quill(`#extr-tab-edit-${extrTabCnt}`, {
                            placeholder: '추가 탭',
                            modules: toolbar_conf,
                            theme: 'snow'
                        });
                        extr.getModule('toolbar').addHandler('image', function() {
                            selectLocalImage(extr);
                        });
                        extrTableArr.push(extr.getModule('table'));
                        button[0].setAttribute('onclick', `addTable      (extrTableArr[${extrTabCnt}])`); button[0].innerText='테이블 추가';
                        button[1].setAttribute('onclick', `addColumnLeft (extrTableArr[${extrTabCnt}])`); button[1].innerText='왼쪽 행 추가';
                        button[2].setAttribute('onclick', `addColumnRight(extrTableArr[${extrTabCnt}])`); button[2].innerText='오른쪽 행 추가';
                        button[3].setAttribute('onclick', `addRowAbove   (extrTableArr[${extrTabCnt}])`); button[3].innerText='위에 열 추가';
                        button[4].setAttribute('onclick', `addRowBelow   (extrTableArr[${extrTabCnt}])`); button[4].innerText='아래 열 추가';
                        button[5].setAttribute('onclick', `deleteColumn  (extrTableArr[${extrTabCnt}])`); button[5].innerText='행 삭제';
                        button[6].setAttribute('onclick', `deleteRow     (extrTableArr[${extrTabCnt}])`); button[6].innerText='열 삭제';
                        button[7].setAttribute('onclick', `deleteTable   (extrTableArr[${extrTabCnt}])`); button[7].innerText='테이블 삭제';
                        name.value = ele.name;
                        init(extr, ele.content);
                        extrTabCnt++;
                    });
                    let tags = JSON.parse(apply.tags);
                    tags.forEach(tagc=>{
                        let ne = {
                            key: tagc.key,
                            content: tagc.content,
                            color: tagc.color,
                            back: tagc.back
                        };
                        tag.push(ne);
                        let ntag = document.createElement('span');
                        ntag.classList.add('tag');
                        ntag.classList.add(`tag-${ne.key}`);
                        ntag.innerText = ne.content;
                        ntag.style.backgroundColor = `#${ne.back}`;
                        ntag.style.color = `#${ne.color}`;
                        document.getElementById('tags-cont').appendChild(ntag);
                    });
                }
            });
        }
        function init(quill, html) {
            let delta = quill.clipboard.convert({
                html: html
            });
            quill.setContents(delta, 'silent');
        }
        function confirmex() {
            let proceed = confirm("문제를 업데이트할까요?");
            let precond = true;
            if(!proceed) return;
            content = document.getElementById('editor-cont').getElementsByClassName('ql-editor')[0].innerHTML;
            exp = document.getElementById('editor-exp').getElementsByClassName('ql-editor')[0].innerHTML;
            ans = document.getElementById('editor-ans').getElementsByClassName('ql-editor')[0].innerHTML;
            hintx = document.getElementById('editor-hint').getElementsByClassName('ql-editor')[0].innerHTML;
            namep = document.getElementById('name').value;
            tabs = Array(extrTabCnt);
            for(let i=0; i<extrTabCnt; i++) {
                if(document.getElementById(`extr-tab-name-${i}`) == '') {
                    proceed = false;
                    break;
                }
                tabs[i] = {
                    name: document.getElementById(`extr-tab-name-${i}`).value,
                    content: document.getElementById(`extr-tab-edit-${i}`).getElementsByClassName('ql-editor')[0].innerHTML
                };
            }
            if(namep == "" || namep == undefined) {
                document.getElementById('name').classList.add('formthis');
                location.href = "#name";
                precond = false;
            }
            else {
                document.getElementById('name').classList.remove('formthis');
            }
            cat = document.getElementById('category');
            if(cat.selectedIndex == 0) {
                document.getElementById('category').classList.add('formthis');
                location.href = "#category";
                precond = false;
            }
            else {
                document.getElementById('category').classList.remove('formthis');
            }
            dif = document.getElementById('diffi');
            if(dif.selectedIndex == 0) {
                document.getElementById('diffi').classList.add('formthis');
                location.href = "#diffi";
                precond = false;
            }
            else {
                document.getElementById('diffi').classList.remove('formthis');
            }
            if(!precond) return;
            $.ajax({
                type: 'POST',
                url: '/problem/update',
                data: {
                    name: namep,
                    code: [[${prob_code}]],
                    cate: cat.value,
                    diff: dif.value,
                    cont: content,
                    solu: exp,
                    answ: ans,
                    hint: hintx,
                    hasH: document.getElementById('hashint').checked,
                    extr: JSON.stringify(tabs),
                    tags: JSON.stringify(tag)
                },
                success: function(data) {
                    window.onbeforeunload = undefined;
                    window.location.href = data;
                },
                error: function(err) {
                    if(err.status == 403) {
                        let x = confirm('문제를 업데이트하려면 로그인해야 합니다.');
                        if(x) {
                            window.location.href = `/login/?ret=problem/[[${prob_code}]]/edit`;
                        }
                    }
                }
            });
        }
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            }
        });
    </script>
    <script>
        window.onbeforeunload = function (e) {
            e = e || window.event;
            if (e) {
                e.returnValue = '편집사항이 저장되지 않습니다. 정말 닫을까요?';
            }
            return '편집사항이 저장되지 않습니다. 정말 닫을까요?';
        };
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>