<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>문제 만들기 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <meta property="og:title" content="IPU - 문제 제작">
        <meta name="twitter:title" content="IPU - 문제 제작">
        <meta name="description" content="새 문제 만들기">
        <meta property="og:description" content="새 문제 만들기">
        <meta name="twitter:description" content="새 문제 만들기">
        <link rel="stylesheet" type="text/css" href="/lib/problem/nproblem.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem-solve.css">
        <link rel="stylesheet" type="text/css" href="/lib/ipuac/ipuac.css">
        <script src="/lib/ipuac/ipuac.js"></script>
        <style>
            img {
                width: 100% !important;
            }
        </style>
    </head>
    <body class="no-mathjax">
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <h1 id="title">문제 등록</h1>
        <div class="container">
            <div id="top-menu">
                <input type="text" id="name" class="prob-name" spellcheck="false">
                <select id="category" class="selbox">
                    <option disabled selected>분류</option>
                    <optgroup label="수학">
                        <option value="alge">대수</option>
                        <option value="numb">정수</option>
                        <option value="comb">조합</option>
                        <option value="geom">기하</option>
                    </optgroup>
                    <optgroup label="과학">
                        <option value="phys">물리</option>
                        <option value="chem">화학</option>
                        <option value="biol">생물</option>
                        <option value="eart">지구</option>
                    </optgroup>
                    <option value="etce">기타</option>
                </select>
                <select id="diffi" class="selbox">
                    <option disabled selected>난이도</option>
                    <option value="unse">Unset</option>
                    <option value="unra">Unrated</option>
                    <option value="broz">Bronze</option>
                    <option value="silv">Silver</option>
                    <option value="gold">Gold</option>
                    <option value="sapp">Sapphire</option>
                    <option value="ruby">Ruby</option>
                    <option value="diam">Diamond</option>
                </select>
            </div>
            <h3 id="pro-cont" class="sub-title">문제 내용*</h3>
            <div class="editor-container">
                <textarea id="content" class="editor">== 문제 ==</textarea>
            </div>
            <h3 id="pro-exp" class="sub-title">풀이*</h3>
            <div class="editor-container">
                <textarea id="solution" class="editor">
== 풀이 ==

== 정답 ==</textarea>
            </div>
            <h3 id="pro-tags" class="sub-title" style="margin-bottom: 10px;">태그</h3>
            <div id="addc-tags-cont">
                <div id="tags-cont"></div>
                <div id="add-tags-cont">
                    <div>
                        <label>태그: </label>
                        <input type="text" id="tag-input" class="tag-input" spellcheck="false">
                    </div>
                    <div>
                        <label>글씨 색: </label>
                        <input type="text" id="tag-fore" class="tag-input tag-color" onkeyup="updateColor('tag-fore')" spellcheck="false" value="333">
                    </div>
                    <div>
                        <label>배경 색: </label>
                        <input type="text" id="tag-back" class="tag-input tag-color" onkeyup="updateColor('tag-back')" spellcheck="false" value="9cff65" style="background-color: #9cff65;">
                    </div>
                    <button id="add-tag" class="tag-btn" onclick="tagHandle()">추가</button>
                </div>
                <div id="add-tags-edit">
                    <input id="edit-tags" type="text" class="tag-input" spellcheck="false" style="width: 100%;" value="[]">
                    <button id="apply-tag-edit" class="tag-btn" onclick="applyTagsJSONtoVar()">적용</button>
                </div>
                <div id="preset-tags">
                    <div class="tag-preset">
                        <input id="pActive" type="checkbox">
                        <label for="pActive">문제 활성화</label>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button id="preview" class="mpb" onclick="preview()">Preview</button>
            </div>
            <div id="preview-container" style="display: none; text-align: left !important; padding: 0;">
                <div style="margin: 0 5%; width: 90%;" class="mathjax">
                    <h1 style="margin-bottom: 1em;" id="preview-name"></h1>
                    <div id="prev-content"></div>
                    <div id="prev-solution"></div>
                 </div>
                <div style="text-align: center;">
                    <button id="top" class="mpb" onclick="location.href = '#title';">Top</button>
                    <button id="confirm" class="mpb" onclick="confirme()">Confirm</button>
                </div>
            </div>
        </div>
    </body>
    <script src="/lib/problem/mkProblem.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>