<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>문제 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <link rel="stylesheet" type="text/css" href="/lib/problem/problemList.css">
        <script src="/lib/univ/converter.js"></script>
        <script src="/lib/problem/pShow.js"></script>
        <meta name="title" content="IPU - 문제">
        <meta name="description" content="IPU - 문제 목록">
        <meta property="og:title" content="IPU - 문제">
        <meta property="og:description" content="IPU - 문제 목록">
        <meta name="twitter:title" content="IPU - 문제">
        <meta name="twitter:description" content="IPU - 문제 목록">
    </head>
    <body>
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div id="prob-nav" class="non-container">
            <div id="prob-vi">
                <a class="vi-sel" href="/problem">전체</a>
                <a class="vi-cho" href="/problem/category">분류</a>
                <a class="vi-cho" href="/problem/random">랜덤</a>
            </div>
            <form action="/problem/search" method="GET" id="search-form">
                <input type="text" spellcheck="false" placeholder="검색" id="search" name="cont" class="nout" aria-label="문제 검색">
                <button type="submit" id="submit-search" class="nout" style="fill: #fff;" aria-label="문제 검색하기">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"/></svg>
                </button>
            </form>
        </div>
        <div class="container">
            <table class="problem-lst-table" id="prob-list-table">
                <thead>
                    <th style="width: 6%">문제</th>
                    <th style="width: 57%;">문제 제목</th>
                    <th style="width: 37%;">정보</th>
                </thead>
                <tbody id="addProb">
                <tr th:each="problem: ${pList}">
                    <td th:text="${problem.code}"></td>
                    <td>
                        <a th:text="${problem.name}" th:href="${'/problem/'+problem.code}"></a>
                    </td>
                    <td class="tag-con">
                        <div th:utext="${problem.tags}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p id="not" th:if="${nothing}">이 페이지는 비어있습니다.</p>
        <div id="nav">
            <a id="prev" class="previous round">이전</a>
            <span id="pnsep">······</span>
            <a id="next" class="next round">다음</a>
        </div>
    </body>
</html>