<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${pName+' - IPU '+pCode+'번'}"></title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem-solve.css">
        <link rel="stylesheet" type="text/css" href="/lib/ipuac/ipuac.css">
        <script src="/lib/problem/pShowPage.js"></script>
        <script src="/lib/ipuac/ipuac.js"></script>
        <meta name="title" th:content="${'IPU - '+pName}">
        <meta name="description" th:content="${'IPU - '+pName}">
        <meta property="og:title" th:content="${'IPU - '+pName}">
        <meta property="og:description" th:content="${'IPU - '+pName}">
        <meta name="twitter:title" th:content="${'IPU - '+pName}">
        <meta name="twitter:description" th:content="${'IPU - '+pName}">
    </head>
    <body th:onload="onload([[${pCode}]])">
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div id="problem-container" class="mathjax">
            <div>
                <a th:href="${'/problem/edit/'+pCode}" th:if="${root}">
                    <h1 class="prob-title" th:text="${pName}"></h1>
                </a>
                <h1 class="prob-title" th:text="${pName}" th:unless="${root}"></h1>
            </div>
            <div class="problem-info">
                <div class="problem-tags" th:utext="${tags}"></div>
                <svg id="star-icon" class="star-icon" th:classappend="${stared ? 'stared' : ''}" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24" th:onclick="changeStar([[${pCode}]])" th:if="${logged}"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
            </div>
            <div id="solving" th:utext="${problem_ipuac}"></div>
            <div id="after-sol" style="display: none;" th:utext="${solution_ipuac}"></div>
            <div id="final-sol">
                <p id="sol-time-took">풀이시간</p>
                <p id="sol-time"></p>
            </div>
        </div>
        <div id="prob-control">
            <button id="show-ans-btn" class="end-btn" onclick="showAns()">정답 보기</button>
            <p th:if="${!active}" id="problem-cannot-solve">이 문제는 제출할 수 없어요.</p>
        </div>
        <div id="prob-control-nd">
            <div th:if="${logged}">
                <button id="wa-btn" th:if="${active}" class="end-btn" style="margin-right: 7px;" th:onclick="wa([[${pCode}]])">오답</button>
                <button id="ac-btn" th:if="${active}" class="end-btn" style="margin-left: 7px;" th:onclick="ac([[${pCode}]])">정답</button>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            },
            CommonHTML: {
                scale: 90
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>