<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${pName+' - IPU '+pCode+'번'}"></title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem-solve.css">
        <link rel="stylesheet" type="text/css" href="/lib/ipuac/ipuac.css">
        <script src="/lib/problem/pShowPage.js"></script>
        <script src="/lib/ipuac/ipuac.js"></script>
        <meta name="title" th:content="${'IPU - '+pName}">
        <meta name="description" th:content="${'IPU - '+pName}">
        <meta property="og:title" th:content="${'IPU - '+pName}">
        <meta property="og:description" th:content="${'IPU - '+pName}">
        <meta name="twitter:title" th:content="${'IPU - '+pName}">
        <meta name="twitter:description" th:content="${'IPU - '+pName}">
    </head>
    <body th:onload="load()">
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div id="problem-container" class="mathjax">
            <div>
                <a th:href="${'/problem/edit/'+pCode}" th:if="${root}">
                    <h1 class="prob-title" th:text="${pName}"></h1>
                </a>
                <h1 class="prob-title" th:text="${pName}" th:unless="${root}"></h1>
            </div>
            <div class="problem-info">
                <div class="problem-tags" th:utext="${tags}"></div>
                <svg id="star-icon" class="star-icon" th:classappend="${stared ? 'stared' : ''}" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24" th:onclick="changeStar([[${pCode}]])" th:if="${logged}">
                    <path id="star" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    <circle id="star-progress" class="loading" cx="12" cy="12" r="10" stroke="#aaa" style="display: none;"/>
                </svg>
            </div>

            <div id="problem-context" th:utext="${problem_ipuac}"></div>
            <div id="answer-context" style="display: none;" th:utext="${solution_ipuac}"></div>

            <span class="prob-title ipuac" th:if="${active}"> 채점 </span>
            <hr class="prob-hr ipuac" th:if="${active}">
            <div id="answer-field" th:if="${active}">
                <div th:each="ans,index: ${answer}">
                    <div class="left-indicate-black" th:if="${ans.method == 0}">
                        <p class="answer-guide" th:text="${ans.name}"></p>
                        <input th:id="${'a'+index.index+'sa'}" type="button" th:if="${active}" class="end-btn ac-btn" value="정답" th:onclick="ac([[${index.index}]])" disabled>
                        <input th:id="${'a'+index.index+'sw'}" type="button" th:if="${active}" class="end-btn wa-btn" value="오답" th:onclick="wa([[${index.index}]])" disabled>
                    </div>
                    <div class="left-indicate-black" th:if="${ans.method == 1}">
                        <p class="answer-guide" th:text="${ans.name}"></p>
                        <input type="text" th:id="${'a'+index.index}" class="univ-input" th:aria-label="${ans.name}">
                    </div>
                    <div class="left-indicate-black" th:if="${ans.method == 2}">
                        <p class="answer-guide" th:text="${ans.name}"></p>
                        <input type="text" th:id="${'a'+index.index+'f1'}" class="univ-input" th:aria-label="${ans.name+' 분자부분'}">
                        <label>/</label>
                        <input type="text" th:id="${'a'+index.index+'f2'}" class="univ-input" th:aria-label="${ans.name+' 분모부분'}">
                    </div>
                </div>
                <p>답안은 <a href="/docs/answer" class="univ" target="_blank">정답 입력과 채점</a>규칙에 맞게 입력해야 정답처리됩니다.</p>
            </div>
        </div>

        <div id="finish-solve">
            <button id="show-ans-btn" class="end-btn" th:unless="${!active}" th:onclick="submitSolution([[${pCode}]])">제출</button>
            <p th:unless="${active}" id="problem-cannot-solve">이 문제는 제출할 수 없어요.</p>
        </div>
        <div id="solve-time-div" th:if="${active}">
            <p id="sol-time-took">풀이시간</p>
            <p id="sol-time"></p>
            <p id="sol-comment"></p>
        </div>
        <div id="judge-result" style="display: none;" th:if="${active}">
            <p id="judging" class="obj-result" style="display: block;">
                <svg class="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle class="loading" cx="12" cy="12" r="10" stroke="#aaa"/>
                </svg>
            </p>
            <p id="judge-summary" class="obj-result"></p>
            <table id="judge-results">
                <thead>
                <tr>
                    <th>문제</th>
                    <th>내 정답</th>
                    <th>정답</th>
                    <th>채점</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ans,index: ${answer}" th:id="${'j'+index.index}">
                    <td th:text="${ans.name}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">채점 결과</td>
                    <td id="judge-acwa"></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div id="cannot-submit" th:if="${active}">
            <p id="was-error-submit"></p>
            <button id="resubmit" class="univ-btn" th:onclick="resubmit([[${pCode}]])">다시 제출</button>
        </div>

        <th:block th:replace="fragments/footer.html :: footer"></th:block>
    </body>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            },
            CommonHTML: {
                scale: 90
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>