<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymel    eaf.org">
    <head>
        <title th:text="${pName+' - IPU '+pCode+'번'}"></title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/problem/problem-solve.css">
        <link rel="stylesheet" type="text/css" href="/lib/ipuac/ipuac.css">
        <script src="/lib/problem/pShowPage.js"></script>
        <script src="/lib/ipuac/ipuac.js"></script>
        <meta name="title" th:content="${'IPU - '+pName}">
        <meta name="description" th:content="${'IPU - '+pName}">
        <meta property="og:title" th:content="${'IPU - '+pName}">
        <meta property="og:description" th:content="${'IPU - '+pName}">
        <meta name="twitter:title" th:content="${'IPU - '+pName}">
        <meta name="twitter:description" th:content="${'IPU - '+pName}">
    </head>
    <body th:onload="onloadR([[${pCode}]])">
        <th:block th:replace="fragments/header.html :: navigation"></th:block>
        <div id="problem-container">
            <p class="answer-block">호환성 보기를 사용중입니다. 이 모드에서는 제출할 수 없습니다.</p>
            <div>
                <a th:href="${'/problem/edit/'+pCode}" id="edit-href-title">
                    <h1 id="prob-title" th:text="${pName}"></h1>
                </a>
            </div>
            <div id="solving"></div>
            <p class="answer-block" id="answer-block" style="display: none;">여기부터 정답입니다.</p>
            <div id="after-sol" style="display: none;" class="prob-appl"></div>
            <div id="custom-tabs"></div>
            <div id="final-sol">
                <p id="sol-time-took">풀이시간</p>
                <p id="sol-time"></p>
            </div>
        </div>
        <div id="prob-control">
            <button id="show-ans-btn" class="end-btn" onclick="showAns()">정답 보기</button>
        </div>
        <div id="prob-control-nd">
            <p>호환성 보기에서는 제출할 수 없습니다.</p>
        </div>
    </body>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true,
                processClass: "mathjax",
                ignoreClass: "no-mathjax"
            },
            CommonHTML: {
                scale: 90
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</html>