<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>문제 - IPU</title>
        <th:block th:replace="fragments/header-comp.html :: header-comp"></th:block>
        <link rel="stylesheet" type="text/css" href="/lib/profile/profile.css">
        <link rel="stylesheet" type="text/css" href="/lib/table.css">
        <script src="/lib/univ/converter.js"></script>
        <script src="/lib/problem/pShow.js"></script>
        <meta name="title" content="IPU - 문제">
        <meta name="description" content="IPU - 문제 목록">
        <meta property="og:title" content="IPU - 문제">
        <meta property="og:description" content="IPU - 문제 목록">
        <meta name="twitter:title" content="IPU - 문제">
        <meta name="twitter:description" content="IPU - 문제 목록">
    </head>
    <body th:onload="load([[${page}]])">
        <div th:replace="/fragments/header.html :: navigation"></div>
        <h1 id="title">Problems</h1>
        <div class="container">
            <div id="prob-nav"></div>
            <table class="problem-lst-table" id="prob-list-table">
                <thead>
                    <tr>
                        <th style="width: 10%">문제</th>
                        <th style="width: 50%;">문제 제목</th>
                        <th style="width: 30%;">정보</th>
                        <th style="width: 10%;">분류</th>
                    </tr>
                </thead>
                <tbody id="addProb"></tbody>
            </table>
        </div>
        <p id="not">이 페이지는 비어있습니다.</p>
        <div id="nav">
            <a id="prev" class="previous round">이전</a>
            <span id="pnsep">······</span>
            <a id="next" class="next round">다음</a>
        </div>
    </body>
</html>